/* Header Base */
#fh5co-programs-header,
.fh5co-programs-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    min-height: fit-content;
    padding: 32px 0px;
    height: 70dvh;
    display: flex;
    align-items: center;
}

.fh5co-programs-cover .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #383838;
    z-index: 1;
}

.fh5co-programs-cover .container {
    position: relative;
    z-index: 2;
}

.fh5co-programs-cover .display-tc {
    display: table-cell;
    vertical-align: middle;
}

#fh5co-programs-header h1 {
    color: #fff;
    font-size: 60px;
    font-weight: 300;
    line-height: 1.2;
}

#fh5co-programs-header p {
    color: #f0f0f0;
    font-size: 18px;
}

#fh5co-programs-header .btn ,
#fh5co-acceleration .btn {
    padding: 15px 30px;
    background: #F73859;
    color: #fff;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 4px;
    transition: background 0.3s ease;
}


@media screen and (max-width: 768px) {
    #fh5co-programs-header h1 {
        font-size: 40px;
    }

    .fh5co-programs-cover {
        height: 70vh;
    }
}

// header end

#fh5co-incubation,
#fh5co-acceleration {
    padding: 4em 0;
}

#fh5co-incubation .list-item-no,
#fh5co-acceleration .list-item-no {
    font-size: 1.5em;
    color: #F73859;
}
#fh5co-incubation .row .col-xs-10 p,
#fh5co-acceleration .row .col-xs-10 p
{
    color: #6e6e6e;
}

.incubation-section {
  padding: 4em 0;
}

.program-question {
  color: #0f1e46;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.program-answer {
  color: #6a6b6e;
  font-size: 0.95rem;
  padding-left: 1rem;
  border-left: 3px solid #0f1e46;
}

.program-question:hover span,
.program-question:hover i {
  color: #F73859;
}

.program-question.active span,
.program-question.active i {
  color: #F73859;
}

.program-image {
  max-width: 100%;
//   height: auto;
  height: -webkit-fill-available;
  max-height: 500px;
  object-fit: cover;
  border-radius: 8px;
}

.acceleration-section {
  padding: 4em 0;
}

// .program-question {
//   color: #0f1e46;
//   font-size: 1rem;
//   transition: color 0.3s ease;
// }

// .program-answer {
//   color: #6a6b6e;
//   font-size: 0.95rem;
//   padding-left: 1rem;
//   border-left: 3px solid #0f1e46;
// }

// .program-question:hover span,
// .program-question:hover i {
//   color: #F73859;
// }

// .program-question.active span,
// .program-question.active i {
//   color: #F73859;
// }

// .program-image {
//   max-width: 100%;
//   height: auto;
//   max-height: 350px;
//   object-fit: cover;
//   border-radius: 8px;
// }
