<div class="my-4 page-header-breadcrumb single-page-header d-flex align-items-center justify-content-between flex-wrap gap-2">
    <div>
        <button class="btn btn-primary-light btn-wave me-2 waves-effect waves-light" id="btnNavigateBack" [routerLink]="['../admin']">
          <i class="bi bi-arrow-left-circle align-middle"></i> Back
      </button>
    </div>

</div>

<div class="row">
<div class="col-xl-12">
  <div class="card custom-card">
    <div class="card-header justify-content-between">
      <div class="card-title">
        Quality Control Questions

        <span role="status" style="margin: 0px 5px;" aria-hidden="true" *ngIf="showLoader" class="spinner-border spinner-border-sm align-middle"></span>
      </div>
      <div class="d-flex flex-wrap gap-2">
        <div>
          <input class="form-control form-control-sm" placeholder="Type to filter the name column..." type="search"
            (keyup)="updateFilter($event)" aria-label=".form-control-sm example">
        </div>
        <div ngbDropdown class="dropdown">
          <div class="ml-auto margin-5px" (click)="QualityControlQuestionPopUp()">
            <a href="javascript:;" class="btn btn-success btn-sm btn-rounded pl-2 pr-3"><i
                class="fa fa-plus mr-1"></i> Add New</a>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table text-nowrap">
          <thead>
            <tr>
              <th scope="col">Question</th>
              <th scope="col">Answer Type</th>
                <th scope="col">Edit</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of qualityControlQuestionList">
              <td>{{item.question}}</td>
              <td>{{item.type}}</td>
              <td>
                <a href="javascript:void(0);" (click)="Edit(item)">Edit</a>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer">
    </div>
  </div>
</div>
</div>



<ng-template #modalqualityControlQuestionPopUp let-c="close" let-d="dismiss" class="modal-xl">
  <div class="modal-header">
    <h6 class="modal-title">Add / Update</h6>
  </div>
  <div class="card-body padding-1rem">

    <div class="row mb-3">
      <div class="col-md-12  mb-3">
        <div class="form-group text-start">
          <label>Question <span class="text-danger">*</span></label>
          <input matInput [(ngModel)]="qualityControlQuestionModel.question" class="form-control" placeholder="Question Name"
            type="text" required #roleNameInput="ngModel">
          <div *ngIf="roleNameInput.invalid && roleNameInput.touched">
            <span class="text-danger">Question is required.</span>
          </div>
        </div>
      </div>
    </div>


    <div class="row mb-3">
      <div class="col-md-12  mb-3">
        <div class="form-group text-start">
          <label>Answer Type <span class="text-danger">*</span></label>
          <select class="form-control col-md-12" [(ngModel)]="qualityControlQuestionModel.answerTypeId" id="answerTypeId"
            name="answerTypeId" required #answerTypeIdSelect="ngModel">
            <option *ngFor="let item of answerTypeList" [value]="item.answerTypeId">{{item.type}}
            </option>
          </select>
          <div *ngIf="answerTypeIdSelect.invalid && answerTypeIdSelect.touched">
            <span class="text-danger">Please Select Question Type.</span>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="modal-footer">
    <div class="row">
      <div class="col-md-7">
        <button class="btn ripple btn-primary btn-block" *ngIf="qualityControlQuestionModel.id == 0" (click)="Submit()">
          Submit
          <span role="status" aria-hidden="true" *ngIf="showLoader" class="spinner-border spinner-border-sm align-middle"></span>
        </button>
        <button class="btn ripple btn-primary btn-block" *ngIf="qualityControlQuestionModel.id != 0"
          (click)="Update()">
          Update
          <span role="status" aria-hidden="true" *ngIf="showLoader" class="spinner-border spinner-border-sm align-middle"></span>
        </button>

      </div>
      <div class="col-md-5">
        <button class="btn btn-white" (click)="c('Close click')">Cancel</button>
      </div>
    </div>
  </div>
</ng-template>