<div
  class="my-4 page-header-breadcrumb single-page-header d-flex align-items-center justify-content-between flex-wrap gap-2">
  <div>
    <button class="btn btn-primary-light btn-wave me-2 waves-effect waves-light" id="btnNavigateBack"
      [routerLink]="['../admin']">
      <i class="bi bi-arrow-left-circle align-middle"></i> Back
    </button>
  </div>

</div>


<div class="row">



  <div style="width: 50%; height: 50%; float:left;">
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table text-nowrap">
          <tbody>
            <tr>
              <td><b>Project Type List</b></td>
              <td style="text-align: right;border-right: 1px solid">
                <!-- <a href="javascript:;"
                  (click)="AddNewMake()"><i class="fas fa-plus fa-fw" style="color:green"></i></a>  -->
                  <a href="javascript:;" (click)="AddNewProjectType()" class="btn btn-success btn-sm btn-rounded pl-2 pr-3">
                    <i class="fa fa-plus mr-1"></i> Add New</a>
                </td>
            </tr>
            <tr>
              <td colspan="2" style="border-right: 1px solid">
                <!-- <input type="text" placeholder="search..." class="header-search-bar form-control" (keyup)="searchMakeList($event)"></td> -->

            </tr>
            <tr *ngIf="showProjectTypeActionRow">

              <td>
                <input type="text" class="header-search-bar form-control" [(ngModel)]="projectType.name" placeholder="Add Project Type" #name id="makeRefValue" />
              </td>
              <td style="border-right: 1px solid">
                <a href="javascript:;" *ngIf="projectType.id == 0 " (click)="submitProjectType(name.value)">save</a>
                <a href="javascript:;" *ngIf="projectType.id > 0 " (click)="updateProjectType(name.value)">Update</a> |
                <a href="javascript:;" (click)="cancelProjectTypeAdd()">cancel</a>
              </td>
            </tr>

            <tr *ngFor="let item of projectTypeList">
              <td>{{item.name}}</td>
              <td style="text-align: right;border-right: 1px solid">
                <a href="javascript:;"
                  (click)="Edit(item)"> Edit </a> 
                  <!-- <button class="btn btn-sm btn-icon btn-primary-light btn-wave" (click)="getModels(make.makeId,make.name)">
                    <i class="ri-eye-line"></i>
                </button> -->
                </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>