<!-- Start::page-header -->
<div
  class="my-4 page-header-breadcrumb single-page-header d-flex align-items-center justify-content-between flex-wrap gap-2">
  <div>
    <button class="btn btn-primary-light btn-wave me-2 waves-effect waves-light" id="btnNavigateBack"
      [routerLink]="['../admin']">
      <i class="bi bi-arrow-left-circle align-middle"></i> Back
    </button>
  </div>

</div>
<!-- End::page-header -->

<div class="row">
  <div class="col-xl-12">
    <div class="card custom-card">
      <div class="card-header justify-content-between">
        <div class="card-title">
          Users
        </div>
        <div class="d-flex flex-wrap gap-2">
          <div>
            <input class="form-control form-control-sm" placeholder="Type to filter the name column..." type="search"
              (keyup)="updateFilter($event)" aria-label=".form-control-sm example">
          </div>
          <div class="dropdown">
            <div *ngIf="user.jobTitle == 'Administrator' || user.jobTitle == 'Super Administrator'"
              class="ml-auto margin-5px" (click)="AddUserPopUp()">
              <a href="javascript:;" class="btn btn-success btn-sm btn-rounded pl-2 pr-3">
                <i class="fa fa-plus mr-1"></i> Add New</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body p-0">
        <div class="table-responsive">
          <table class="table text-nowrap">
            <thead>
              <tr>
                <th scope="col">First Names</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email Address</th>
                <th scope="col">Mobile Number</th>
                <th scope="col">Job Title</th>
                <th scope="col" *ngIf="user.jobTitle == 'Administrator' || user.jobTitle == 'Super Administrator'">Edit
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of users">
                <td>{{item.firstNames}}</td>
                <td>{{item.lastName}}</td>
                <td>{{item.emailAddress}}</td>
                <td>{{item.mobileNumber}}</td>
                <td>{{item.jobTitle}}</td>
                <td *ngIf="user.jobTitle == 'Administrator' || user.jobTitle == 'Super Administrator'">
                  <button class="btn btn-sm btn-icon btn-secondary-light btn-wave" (click)="EditUser(item)">
                    <i class="ri-edit-line"></i>
                  </button>
                  <!-- <a href="javascript:void(0);" (click)="EditUser(item)">Edit</a> -->
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer">
        <div class="d-flex align-items-center">
          <div> Showing 6 Entries <i class="bi bi-arrow-right ms-2 fw-semibold"></i> </div>
          <div class="ms-auto">
            <nav aria-label="Page navigation" class="pagination-style-4">
              <ul class="pagination mb-0">
                <li class="page-item disabled"> <a class="page-link" href="javascript:void(0);"> Prev </a> </li>
                <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                <li class="page-item"> <a class="page-link text-primary" href="javascript:void(0);"> next </a> </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #modalAddUserPopUp let-c="close" let-d="dismiss" class="modal-lg">
  <div class="modal-header">
    <h6 class="modal-title">Register User</h6>
  </div>
  <div class="card-body padding-1rem">
    <div class="mb-3">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group text-start">
            <label>First Names <span class="text-danger">*</span></label>
            <input matInput [(ngModel)]="registerViewModel.firstNames" class="form-control"
              placeholder="Enter your First Name" type="text" required #firstNameInput="ngModel">
            <div *ngIf="firstNameInput.invalid && firstNameInput.touched">
              <span class="text-danger"> First Name is required. </span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group text-start">
            <label>Last Names <span class="text-danger">*</span></label>
            <input matInput [(ngModel)]="registerViewModel.lastName" class="form-control"
              placeholder="Enter your Last Name" type="text" required #lastNameInput="ngModel">
            <div *ngIf="lastNameInput.invalid && lastNameInput.touched">
              <span class="text-danger">Last Name is required.</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="form-group text-start">
        <label>Job Title <span class="text-danger">*</span></label>
        <input matInput [(ngModel)]="registerViewModel.jobTitle" class="form-control" placeholder="Enter your Job Title"
          type="text" required #jobTitleInput="ngModel">
        <div *ngIf="jobTitleInput.invalid && jobTitleInput.touched">
          <span class="text-danger">Job Title is required.</span>
        </div>

      </div>
    </div>

    <div class="mb-3">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group text-start">
            <label>Email Address <span class="text-danger">*</span></label>
            <input matInput [(ngModel)]="registerViewModel.emailAddress" class="form-control"
              placeholder="Enter your email" type="text" required #emailAddressInput="ngModel">
            <div *ngIf="emailAddressInput.invalid && emailAddressInput.touched">
              <span class="text-danger">Email Address is required.</span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group text-start">
            <label>Role <span class="text-danger">*</span></label>
            <select class="form-control col-md-12" [(ngModel)]="roleId" id="roleId" name="roleId" required
              #roleSelect="ngModel">
              <option *ngFor="let item of roles" [value]="item.id">{{item.name}}
              </option>
            </select>
            <div *ngIf="roleSelect.invalid && roleSelect.touched">
              <span class="text-danger">Role selection is required.</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-3">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group text-start">
            <label>Password <span class="text-danger">*</span></label>
            <input matInput [(ngModel)]="registerViewModel.password" class="form-control"
              placeholder="Enter your password" type="text" required #passwordInput="ngModel">
            <div *ngIf="passwordInput.invalid && passwordInput.touched">
              <span class="text-danger">Password is required.</span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group text-start">
            <label>Confirm Password <span class="text-danger">*</span></label>
            <input matInput [(ngModel)]="registerViewModel.confirmPassword" class="form-control"
              placeholder="Enter your password" type="text" required #confirmPasswordInput="ngModel">
            <div *ngIf="confirmPasswordInput.invalid && confirmPasswordInput.touched">
              <span class="text-danger">Confirm Password is required. </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12  mb-3">
      <div class="form-group text-start">
        <label>Workshop <span class="text-danger">*</span></label>
        <select class="form-control col-md-12" [(ngModel)]="registerViewModel.workshopId" id="workshopId"
          name="workshopId" required #workshopSelect="ngModel">
          <option *ngFor="let item of workshops" [value]="item.workshopId">{{item.workshopName}}
          </option>
        </select>
        <div *ngIf="workshopSelect.invalid && workshopSelect.touched">
          <span class="text-danger">Workshop selection is required.</span>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="form-group text-start">
        <label>Please sign below red BOX</label>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-12">
        <canvas class="border-solid-black" #signPadCanvas (touchstart)="startSignPadDrawing($event)"
          (touchmove)="movedFinger($event)"></canvas>
      </div>
    </div>

    <div class="col-md-12 mb-3">
      <div class="form-group text-start">
        <img src='{{ signImage }}' />
      </div>
    </div>

  </div>

  <div class="modal-footer">
    <div class="row">
      <div class="col-md-6">
        <button class="btn ripple btn-primary btn-block" (click)="Register()">Submit</button>
      </div>
      <div class="col-md-6">
        <button class="btn btn-white" (click)="c('Close click')">Cancel</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #modalUpdateUserPopUp let-c="close" let-d="dismiss" class="modal-lg">
  <div class="modal-header">
    <h6 class="modal-title">Update User</h6>
  </div>
  <div class="card-body padding-1rem">
    <div class="mb-3">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group text-start">
            <label>First Names <span class="text-danger">*</span></label>
            <input matInput [(ngModel)]="registerViewModel.firstNames" class="form-control"
              placeholder="Enter your password" type="text" required #firstNameInput="ngModel">
            <div *ngIf="firstNameInput.invalid && firstNameInput.touched">
              <span class="text-danger"> First Name is required. </span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group text-start">
            <label>Last Names <span class="text-danger">*</span></label>
            <input matInput [(ngModel)]="registerViewModel.lastName" class="form-control"
              placeholder="Enter your password" type="text" required #lastNameInput="ngModel">
            <div *ngIf="lastNameInput.invalid && lastNameInput.touched">
              <span class="text-danger">Last name is required.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <div class="form-group text-start">
          <label>Role <span class="text-danger">*</span></label>
          <select class="form-control col-md-12" [(ngModel)]="roleId" id="roleId" name="roleId" required
            #roleSelect="ngModel">
            <option *ngFor="let item of roles" [value]="item.id">{{item.name}}
            </option>
          </select>
          <div *ngIf="roleSelect.invalid && roleSelect.touched">
            <span class="text-danger">Role selection is required.</span>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group text-start">
          <label>Job Title <span class="text-danger">*</span></label>
          <input matInput [(ngModel)]="registerViewModel.jobTitle" class="form-control"
            placeholder="Enter your Job Title" type="text" required #jobTitleInput="ngModel">
          <div *ngIf="jobTitleInput.invalid && jobTitleInput.touched">
            <span class="text-danger">Job Title is required.</span>
          </div>

        </div>
      </div>

      <!-- <div class="col-md-6">
        <label>Is Available </label>
        <div class="row switcher-style gx-0">
          <div class="col-sm-4 col-6">
            <div class="form-check switch-select"><label for="isAvailable" class="form-check-label"> Yes </label><input
                [(ngModel)]="registerViewModel.isAvailable" [value]="true" type="radio" name="isAvailable"
                id="isAvailable" class="form-check-input"></div>
          </div>
          <div class="col-sm-4 col-6">
            <div class="form-check switch-select"><label for="isAvailable" class="form-check-label"> No </label><input
                [(ngModel)]="registerViewModel.isAvailable" [value]="false" type="radio" name="isAvailable"
                id="isAvailable" class="form-check-input"></div>
          </div>
        </div>
      </div> -->
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <label>Is Available </label>
        <div class="row switcher-style gx-0 padding-left-0px">
          <div class="col-sm-4 col-6">
            <div class="form-check switch-select"><label for="isAvailable" class="form-check-label"> Yes </label><input
                [(ngModel)]="registerViewModel.isAvailable" [value]="true" type="radio" name="isAvailable"
                id="isAvailable" class="form-check-input"></div>
          </div>
          <div class="col-sm-4 col-6">
            <div class="form-check switch-select"><label for="isAvailable" class="form-check-label"> No </label><input
                [(ngModel)]="registerViewModel.isAvailable" [value]="false" type="radio" name="isAvailable"
                id="isAvailable" class="form-check-input"></div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <label>Enable / Disable User </label>
        <div class="row switcher-style gx-0 padding-left-0px">
          <div class="col-sm-4 col-6">
            <div class="form-check switch-select"><label for="isEnable" class="form-check-label"> Enable </label><input
                [(ngModel)]="registerViewModel.isEnable" [value]="true" (change)="EnableDisableUser()" type="radio"
                name="isEnable" id="isEnable" class="form-check-input"></div>
          </div>
          <div class="col-sm-4 col-6">
            <div class="form-check switch-select"><label for="isEnable" class="form-check-label"> Disable </label><input
                [(ngModel)]="registerViewModel.isEnable" [value]="false" type="radio" name="isEnable" id="isEnable"
                (change)="EnableDisableUser()" class="form-check-input"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <label>Please sign below red BOX</label>
        <canvas class="border-solid-black" #signPadCanvas (touchstart)="startSignPadDrawing($event)"
          (touchmove)="movedFinger($event)"></canvas>
      </div>

      <div class="col-md-6" *ngIf="registerViewModel.signatureUrl !=null">
        <label>Your Signature</label>

        <div>
          <img class="border-solid-black" src='{{ signImage }}' />
        </div>

      </div>
    </div>

    <br>
    <div class="row">
      <label><b>Workshops Assigned</b></label><br>
      <div class="table-responsive">
        <table class="table text-nowrap table-bordered">
          <thead>
            <tr>
              <th scope="col">Workshop</th>
              <th scope="col">Active</th>
              <th scope="col"></th>

              <td style="text-align: right;">
                <a href="javascript:;" (click)="addUserToWorkshop()"><i class="fa fa-plus mr-1"></i> Add New</a>
              </td>
            </tr>

          </thead>

          <tr *ngIf="addNewUserToWorkshop">
            <td>
              <select class="form-control col-md-12" #workshopSelection id="workshopId" name="workshopId" required
                aria-placeholder="Workshop">
                <option disabled>Please Select</option>
                <option *ngFor="let item of workshops" [value]="item.workshopId">{{item.workshopName}}
                </option>
              </select>
            </td>
            <td>
              <a href="javascript:;" (click)="SaveNewUserToWorkshop(workshopSelection.value)"
                style="color: blue;">Save</a> | <a href="javascript:;" (click)="cancelAddNewUserToWorkshop()"
                style="color: red;">Cancel</a>
            </td>
            <td></td>
            <td></td>
          </tr>
          <tr *ngFor="let item of userWorkshopList">
            <td>{{item.workshopName}}</td>
            <td>{{item.activeUser}}</td>
            <td>

            </td>
            <td *ngIf="userRole == 'Administrator' || userRole == 'Super Administrator'" style="text-align: right;">
              <a href="javascript:;"
                (click)="removeUserFromWorkshop(item.workshopId,item.employeeId, item.emailAddress)"
                *ngIf="item.activeUser == true">
                <i class="bi bi-trash" style="color: red;"></i>
                <div class="spinner-border spinner-border-sm me-2" role="status" *ngIf="actionInProgress">
                  <span class="sr-only">Loading...</span>
                </div>
              </a>
              <a href="javascript:;"
                (click)="activateUserAtWorkshop(item.workshopId,item.employeeId, item.emailAddress)"
                *ngIf="item.activeUser == false" style="color: blue;">
                enable
                <div class="spinner-border spinner-border-sm me-2" role="status" *ngIf="actionInProgress">
                  <span class="sr-only">Loading...</span>
                </div>
              </a>
            </td>
          </tr>
        </table>

      </div>

    </div>


  </div>

  <div class="modal-footer">
    <div class="row">
      <div class="col-md-6">
        <button class="btn ripple btn-primary btn-block" (click)="UpdateUser()">Submit</button>
      </div>
      <div class="col-md-6">
        <button class="btn btn-white" (click)="c('Close click')">Cancel</button>
      </div>
    </div>
  </div>
</ng-template>