<!-- Start::page-header -->
<div
    class="my-4 page-header-breadcrumb single-page-header d-flex align-items-center justify-content-between flex-wrap gap-2">
    <div>
        <div>
            <h1 class="page-title fw-medium fs-18 mb-2">Admin Settings</h1>
        </div>


        <!-- <button class="btn btn-primary-light btn-wave me-2 waves-effect waves-light" id="btnNavigateBack" *ngIf="hideButton"  >
          <i class="bi bi-arrow-left-circle align-middle"></i> Back
      </button> -->
    </div>

</div>
<!-- End::page-header -->
<div class="main-mail-container mb-2 gap-2 d-flex">
    <div class="mail-navigation border">
        <div class="d-grid align-items-top p-3 border-bottom">


        </div>


        <div>
            <overlay-scrollbars>
                <ul (click)="allMailremove()" class="list-unstyled mail-main-nav" id="mail-main-nav">
                    <li class="px-0 pt-0">
                        <span class="fs-11 text-muted op-7 fw-medium">SETTINGS</span>
                    </li>
                    <li class="active mail-type" *ngFor="let _menu of menuData">
                        <a [routerLink]="_menu.routerUrl">
                            <div class="d-flex align-items-center">
                                <span class="me-2 lh-1">
                                    <i class="ri-settings-3-line align-middle fs-14"></i>
                                </span>
                                <span class="flex-fill text-nowrap">
                                    {{_menu.menuText}}
                                </span>
                                >
                                <!-- <span class="badge bg-primary rounded-pill">0</span> -->
                            </div>
                        </a>
                    </li>


                </ul>
            </overlay-scrollbars>
        </div>
    </div>





</div>