<div
  class="my-4 page-header-breadcrumb single-page-header d-flex align-items-center justify-content-between flex-wrap gap-2">
  <div>
    <button class="btn btn-primary-light btn-wave me-2 waves-effect waves-light" id="btnNavigateBack"
      [routerLink]="['../admin']">
      <i class="bi bi-arrow-left-circle align-middle"></i> Back
    </button>
  </div>
</div>

<div class="row" id="div">
  <div class="col-12 col-md-6">
    <div class="container mt-3">
      <h3>Meeting Access Room Config</h3>

      <form [formGroup]="roomForm" (ngSubmit)="updateMeetingRoom()">

        <div class="form-group mb-2">
          <label>Total Rooms</label>
          <input formControlName="totalMeetingRooms" type="number" class="form-control" />
          <div class="text-danger" *ngIf="hasError('totalMeetingRooms', 'required')">
            Total Meeting Rooms is required.
          </div>
          <div class="text-danger" *ngIf="hasError('totalMeetingRooms', 'min')">
            Total Rooms must be greater than 0.
          </div>
        </div>

        <div class="form-group mb-2">
          <label>Seating Capacity</label>
          <input formControlName="seatingCapacity" type="number" class="form-control" />
          <div class="text-danger" *ngIf="hasError('seatingCapacity', 'required')">
            seating Capacity is required.
          </div>
          <div class="text-danger" *ngIf="hasError('seatingCapacity', 'min')">
            seating Capacity must be greater than 0.
          </div>
        </div>

        <div class="form-group mb-2">
          <label>Price</label>
          <input formControlName="price" type="number" class="form-control" />
          <div class="text-danger" *ngIf="hasError('price', 'required')">
            Price is required.
          </div>
          <div class="text-danger" *ngIf="hasError('price', 'min')">
            Price must be greater than 0.
          </div>
        </div>

        <!-- <div class="form-group mb-2">
          <label>Billing Cycle Unit</label>
          <input formControlName="bIllingCycleUnit" type="text" class="form-control" />
          <div class="text-danger" *ngIf="hasError('bIllingCycleUnit', 'required')">
            Billing cycle unit is required.
          </div>
        </div> -->

        <div class="form-group mb-2">
          <label>Daily Hours</label>
          <input formControlName="dailyHours" type="number" class="form-control" />
          <div class="text-danger" *ngIf="hasError('dailyHours', 'required')">
            Daily hours are required.
          </div>
          <div class="text-danger" *ngIf="hasError('dailyHours', 'min')">
            Daily hours must be greater than 0.
          </div>
        </div>

        <div class="form-group mb-2">
          <label>Features</label>
          <textarea formControlName="features" class="form-control" rows="2"></textarea>
        </div>

        <div class="form-group mb-2">
          <label style="color: red;font-weight: bold;">Note:- Please Add Features On Separator Comma</label>
          <!-- <textarea
            formControlName="description"
            class="form-control"
            rows="2"
          ></textarea> -->
        </div>

        <button type="submit" class="btn mt-2" [disabled]="roomForm.pristine || roomForm.invalid">
          Update
        </button>
      </form>
    </div>
  </div>
</div>