<div class="multi-step-container">
  <div class="form-card">
    <!-- Step Indicator -->
    <div class="step-indicator">
      <div class="step-indicator-inner">
        <div
          class="step-circle"
          [ngClass]="step == 1 ? 'active' : 'inactive'"
          id="step-1"
        >
          1
        </div>
        <h6 class="step-form-title" *ngIf="step == 1">Personal Data</h6>
        <div class="step-connector incomplete" id="connector-1"></div>

        <div
          class="step-circle"
          [ngClass]="step == 2 ? 'active' : 'inactive'"
          id="step-2"
        >
          2
        </div>
        <h6 class="step-form-title" *ngIf="step == 2">Project Data</h6>
        <div class="step-connector incomplete" id="connector-2"></div>

        <div
          class="step-circle"
          [ngClass]="step == 3 ? 'active' : 'inactive'"
          id="step-3"
        >
          3
        </div>
        <h6 class="step-form-title" *ngIf="step == 3">Supporting Documents</h6>

        <div
          class="step-connector incomplete"
          id="connector-4"
          *ngIf="!isRegistrationOTPByPass"
        ></div>
        <div
          class="step-circle"
          *ngIf="!isRegistrationOTPByPass"
          [ngClass]="step == 4 ? 'active' : 'inactive'"
          id="step-4"
        >
          4
        </div>
        <h6 class="step-form-title" *ngIf="step == 4">Email Verification</h6>
      </div>
    </div>

    <!-- Form Content -->

    <div class="form-content">
      <!-- Step 1: Personal Data -->
      <form [formGroup]="feasibilityFormStep1">
        <div id="step-1-content" class="step-content" *ngIf="step == 1">
          <div class="form-field">
            <div class="input-group">
              <span class="input-group-text label-group">
                <label class="form-label mb-0">Full Name</label>
              </span>
              <input
                type="text"
                formControlName="fullName"
                class="form-control form-input custom-input"
                placeholder="Enter your Full Name"
              />
              <span class="input-group-text icon-group">
                <ng-container
                  *ngIf="f['fullName'].valid && f['fullName'].touched"
                >
                  <i class="bi bi-check-lg"></i>
                </ng-container>
              </span>
            </div>
            <div
              class="error-message"
              *ngIf="f['fullName'].touched && f['fullName'].invalid"
            >
              <span *ngIf="f['fullName'].errors?.['required']"
                >Full Name is required</span
              >
              <span *ngIf="f['fullName'].errors?.['minlength']"
                >Must be at least 2 characters</span
              >
              <span *ngIf="f['fullName'].errors?.['alphabetic']"
                >Only alphabets allowed</span
              >
            </div>
          </div>

          <div class="form-field">
            <div class="input-group">
              <span class="input-group-text label-group">
                <label class="form-label mb-0">Country of Residence</label>
              </span>
              <select
                formControlName="CountryId"
                class="form-select custom-input custom-select"
              >
                <option value="">-- Select Country --</option>
                <option
                  *ngFor="let item of countries"
                  [value]="item.id"
                  style="color: black"
                >
                  {{ item.name }}
                </option>
              </select>
              <span class="input-group-text icon-group">
                <ng-container *ngIf="registerUserVM.CountryId; else empty">
                </ng-container>
                <ng-template #empty></ng-template>
              </span>
            </div>
            <div
              class="error-message"
              *ngIf="f['CountryId'].touched && f['CountryId'].invalid"
            >
              <span *ngIf="f['CountryId'].errors?.['required']"
                >Country is required</span
              >
            </div>
          </div>

          <div class="form-field">
            <div class="input-group">
              <span class="input-group-text label-group">
                <label class="form-label mb-0">Mobile Number</label>
              </span>
              <input
                type="text"
                formControlName="mobileNumber"
                class="form-control form-input custom-input"
                placeholder="e.g. +966500000000"
              />
              <span class="input-group-text icon-group">
                <ng-container
                  *ngIf="f['mobileNumber'].valid && f['mobileNumber'].touched"
                >
                  <i class="bi bi-check-lg"></i>
                </ng-container>
              </span>
            </div>
            <div
              class="error-message"
              *ngIf="f['mobileNumber'].touched && f['mobileNumber'].invalid"
            >
              <span *ngIf="f['mobileNumber'].errors?.['required']"
                >Mobile number is required</span
              >
              <span *ngIf="f['mobileNumber'].errors?.['invalidPhone']"
                >Must include country code (e.g. +966…)</span
              >
            </div>
          </div>

          <div class="form-field">
            <div class="input-group">
              <span class="input-group-text label-group">
                <label class="form-label mb-0">Email</label>
              </span>
              <input
                type="email"
                formControlName="emailAddress"
                class="form-control form-input custom-input"
                placeholder="Enter your Email"
              />
              <span class="input-group-text icon-group">
                <ng-container
                  *ngIf="f['emailAddress'].valid && f['emailAddress'].touched"
                >
                  <i class="bi bi-check-lg"></i>
                </ng-container>
              </span>
            </div>
            <div
              class="error-message"
              *ngIf="f['emailAddress'].touched && f['emailAddress'].invalid"
            >
              <span *ngIf="f['emailAddress'].errors?.['required']"
                >Email is required</span
              >
              <span *ngIf="f['emailAddress'].errors?.['email']"
                >Enter a valid email</span
              >
            </div>
          </div>

          <div class="form-field">
            <div class="input-group">
              <span class="input-group-text label-group">
                <label class="form-label mb-0">Organization (if any)</label>
              </span>
              <input
                type="text"
                formControlName="Organization"
                class="form-control form-input custom-input"
                placeholder="Organization"
              />
              <span class="input-group-text icon-group">
                <ng-container *ngIf="f['Organization'].value">
                  <i class="bi bi-check-lg"></i>
                </ng-container>
              </span>
            </div>
          </div>
        </div>
      </form>
      <form [formGroup]="feasibilityFormStep2">
        <!-- Step 2: Project Data -->
        <div id="step-2-content" class="step-content" *ngIf="step == 2">
          <div class="form-field">
            <div class="input-group">
              <span class="input-group-text label-group"
                ><label for="fullName" class="form-label mb-0"
                  >Project Name</label
                ></span
              >
              <input
                type="text"
                id="fullName"
                formControlName="ProjectName"
                class="form-control form-input custom-input"
                placeholder="Project Name"
              />
              <span class="input-group-text icon-group">
                <ng-container
                  *ngIf="
                    fStep2['ProjectName'].valid && fStep2['ProjectName'].touched
                  "
                >
                  <i class="bi bi-check-lg"></i>
                </ng-container>
                <ng-template #empty></ng-template>
              </span>
            </div>
            <div
              class="error-message"
              *ngIf="
                fStep2['ProjectName'].touched && fStep2['ProjectName'].invalid
              "
            >
              <span *ngIf="fStep2['ProjectName'].errors?.['required']"
                >Project name is required</span
              >
              <span *ngIf="fStep2['ProjectName'].errors?.['minlength']"
                >Project name must be at least 3 characters</span
              >
            </div>
          </div>

          <div class="form-field">
            <div class="input-group">
              <span class="input-group-text label-group">
                <label for="IndustrySector" class="form-label mb-0"
                  >Industry Sector</label
                >
              </span>
              <select
                class="form-select custom-input custom-select"
                id="IndustrySector"
                formControlName="IndustrySector"
              >
                <option value="">-- Select Industry --</option>
                <option *ngFor="let item of industry_sectors" [value]="item">
                  {{ item }}
                </option>
              </select>
              <span class="input-group-text icon-group">
                <ng-container *ngIf="registerUserVM.CountryId; else empty">
                </ng-container>
                <ng-template #empty></ng-template>
              </span>
            </div>
            <div
              class="error-message"
              *ngIf="
                fStep2['IndustrySector'].touched &&
                fStep2['IndustrySector'].invalid
              "
            >
              <span *ngIf="fStep2['IndustrySector'].errors?.['required']"
                >Industry sector is required</span
              >
            </div>
          </div>

          <div class="form-field">
            <div class="input-group">
              <span class="input-group-text label-group">
                <label for="EstimatedBudget" class="form-label mb-0"
                  >Estimated Budget (SAR)</label
                >
              </span>
              <input
                type="number"
                id="EstimatedBudget"
                formControlName="EstimatedBudget"
                placeholder="Estimated Budget SAR"
                class="form-control form-input custom-input"
              />
            </div>
            <div
              class="error-message"
              *ngIf="
                fStep2['EstimatedBudget'].touched &&
                fStep2['EstimatedBudget'].invalid
              "
            >
              <span *ngIf="fStep2['EstimatedBudget'].errors?.['required']"
                >Estimated Budget is required</span
              >
              <span *ngIf="fStep2['EstimatedBudget'].errors?.['min']"
                >Budget must be greater than 0</span
              >
            </div>
          </div>

          <div class="form-field">
            <label for="StudyObjectives" class="form-label"
              >Study Objectives</label
            >
            <textarea
              rows="4"
              id="StudyObjectives"
              formControlName="StudyObjectives"
              class="form-input"
              placeholder="Study Objectives"
            ></textarea>
            <div
              class="error-message"
              *ngIf="
                fStep2['StudyObjectives'].touched &&
                fStep2['StudyObjectives'].invalid
              "
            >
              <span *ngIf="fStep2['StudyObjectives'].errors?.['required']"
                >Study Objectives are required</span
              >
              <span *ngIf="fStep2['StudyObjectives'].errors?.['maxlength']"
                >Max 300 characters allowed</span
              >
            </div>
          </div>

          <div class="form-field">
            <label for="KeyAssumptions" class="form-label"
              >Key Assumptions</label
            >
            <textarea
              rows="4"
              id="KeyAssumptions"
              formControlName="KeyAssumptions"
              class="form-input"
              placeholder="Key Assumptions"
            ></textarea>
            <div
              class="error-message"
              *ngIf="
                fStep2['KeyAssumptions'].touched &&
                fStep2['KeyAssumptions'].invalid
              "
            >
              <span *ngIf="fStep2['KeyAssumptions'].errors?.['maxlength']"
                >Max 200 characters allowed</span
              >
            </div>
          </div>

          <div class="form-field">
            <label class="form-label">Do you have prior market research?</label>
            <div>
              <input
                type="radio"
                formControlName="HasMarketResearch"
                [value]="true"
              />
              Yes
              <input
                type="radio"
                formControlName="HasMarketResearch"
                [value]="false"
              />
              No
            </div>
            <div
              class="error-message"
              *ngIf="
                fStep2['HasMarketResearch'].touched &&
                fStep2['HasMarketResearch'].invalid
              "
            >
              <span *ngIf="fStep2['HasMarketResearch'].errors?.['required']"
                >Please select an option</span
              >
            </div>
          </div>
        </div>
      </form>
      <form [formGroup]="feasibilityFormStep3">
        <!-- Step 3: Document Upload -->
        <div id="step-4-content" class="step-content" *ngIf="step == 3">
          <div class="upload-container">
            <div
              class="upload-section"
              *ngIf="feasibilityFormStep2.get('HasMarketResearch')?.value"
            >
              <h3 class="section-title">
                Market research <span class="required">*</span>
              </h3>
              <div class="upload-area" data-type="accident">
                <div class="upload-icon">
                  <a
                    href="javascript:void(0);"
                    *ngIf="IsMarketResearchFile"
                    (click)="RemoveFile('Market Research')"
                  >
                    Remove File
                  </a>
                  <svg
                    width="48"
                    height="48"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="1.5"
                  >
                    <path
                      d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"
                    />
                    <polyline points="14,2 14,8 20,8" />
                    <line x1="16" y1="13" x2="8" y2="13" />
                    <line x1="16" y1="17" x2="8" y2="17" />
                    <polyline points="10,9 9,9 8,9" />
                  </svg>
                </div>
                <!-- <p class="upload-text">Drop your <strong>File</strong> here</p> -->
                <!-- <button class="select-file-btn">Select File</button> -->
                <input
                  type="file"
                  style="width: -webkit-fill-available"
                  class="select-file-btn"
                  (change)="onFileSelected($event, 'Market Research')"
                  formControlName="MarketResearch"
                  accept=".docx,.pdf"
                />

                <p class="support-text">Only Support</p>
                <p class="file-types">.PDF,.DOCX, max 10 MB</p>
                <div
                  class="error-message"
                  *ngIf="
                    fStep3['MarketResearch'].touched &&
                    fStep3['MarketResearch'].hasError('required')
                  "
                >
                  Market Research file is required
                </div>
              </div>
            </div>

            <div class="upload-section">
              <h3 class="section-title">Background Market Reports</h3>
              <div class="upload-area" data-type="taqdeer">
                <div class="upload-icon">
                  <a
                    href="javascript:void(0);"
                    *ngIf="IsBackgroundMarketReportsFile"
                    (click)="RemoveFile('Background Market Reports')"
                  >
                    Remove File
                  </a>
                  <svg
                    width="48"
                    height="48"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="1.5"
                  >
                    <path
                      d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"
                    />
                    <polyline points="14,2 14,8 20,8" />
                    <line x1="12" y1="18" x2="12" y2="12" />
                    <line x1="9" y1="15" x2="15" y2="15" />
                  </svg>
                </div>
                <!-- <p class="upload-text">Drop your <strong>File</strong> here</p> -->
                <!-- <button class="select-file-btn">Select File</button> -->

                <input
                  type="file"
                  style="width: -webkit-fill-available"
                  class="select-file-btn"
                  (change)="onFileSelected($event, 'Background Market Reports')"
                  formControlName="BackgroundMarket"
                  accept=".pptx,.pdf"
                />
                <p class="support-text">Only Support</p>
                <p class="file-types">.PDF, .PPTX</p>
                <!-- <input type="file" class="file-input" accept=".jpg,.jpeg,.png,.pdf" hidden> -->
              </div>
            </div>

            <div class="upload-section">
              <h3 class="section-title">Background Market Reports</h3>
              <div class="upload-area" data-type="taqdeer">
                <div class="upload-icon">
                  <a
                    href="javascript:void(0);"
                    *ngIf="IsFinancialSpreadsheetsFile"
                    (click)="RemoveFile('Financial Spreadsheets')"
                  >
                    Remove File
                  </a>
                  <svg
                    width="48"
                    height="48"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="1.5"
                  >
                    <path
                      d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"
                    />
                    <polyline points="14,2 14,8 20,8" />
                    <line x1="12" y1="18" x2="12" y2="12" />
                    <line x1="9" y1="15" x2="15" y2="15" />
                  </svg>
                </div>
                <!-- <p class="upload-text">Drop your <strong>File</strong> here</p> -->
                <!-- <button class="select-file-btn">Select File</button> -->

                <input
                  type="file"
                  style="width: -webkit-fill-available"
                  class="select-file-btn"
                  (change)="onFileSelected($event, 'Financial Spreadsheets')"
                  formControlName="FinancialSpreadsheets"
                  accept=".xlsx,.csv"
                />
                <p class="support-text">Only Support</p>
                <p class="file-types">.XLSX, .CSV</p>
                <!-- <input type="file" class="file-input" accept=".jpg,.jpeg,.png,.pdf" hidden> -->
              </div>
            </div>
          </div>
        </div>
      </form>
      <!-- Step 4: Email Verification -->

      <div id="step-4-content" class="step-content" *ngIf="step == 4">
        <div class="form-field">
          <div class="otp-inputs">
            <input
              type="text"
              maxlength="1"
              class="otp-box"
              #otp1
              [(ngModel)]="emailOTP1"
              (keyup)="moveToNext($event, otp2)"
              (paste)="handlePaste($event)"
              required
            />

            <input
              type="text"
              maxlength="1"
              class="otp-box"
              #otp2
              [(ngModel)]="emailOTP2"
              (keyup)="moveToNext($event, otp3, otp1)"
              required
            />

            <input
              type="text"
              maxlength="1"
              class="otp-box"
              #otp3
              [(ngModel)]="emailOTP3"
              (keyup)="moveToNext($event, otp4, otp2)"
              required
            />

            <input
              type="text"
              maxlength="1"
              class="otp-box"
              #otp4
              [(ngModel)]="emailOTP4"
              (keyup)="moveToNext($event, otp5, otp3)"
              required
            />

            <input
              type="text"
              maxlength="1"
              class="otp-box"
              #otp5
              [(ngModel)]="emailOTP5"
              (keyup)="moveToNext($event, otp6, otp4)"
              required
            />

            <input
              type="text"
              maxlength="1"
              class="otp-box"
              #otp6
              [(ngModel)]="emailOTP6"
              (keyup)="moveToNext($event, null, otp5)"
              required
            />
          </div>
        </div>
      </div>
    </div>

    <!-- Navigation Buttons -->
    <div class="form-navigation">
      <button
        type="button"
        id="previous-btn"
        class="nav-button previous-button"
        [disabled]="step <= 1"
        (click)="GoToPrevious()"
      >
        <svg
          width="16"
          height="16"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
        >
          <path d="m15 18-6-6 6-6" />
        </svg>
        Previous
      </button>

      <button
        type="button"
        id="next-btn"
        *ngIf="step <= 3 && !isRegistrationOTPByPass"
        class="nav-button next-button"
        (click)="GoToNext()"
        [disabled]="step >= lastStep"
      >
        Next
        <svg
          width="16"
          height="16"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
        >
          <path d="m9 18 6-6-6-6" />
        </svg>

        <span
          role="status"
          aria-hidden="true"
          class="spinner-border spinner-border-sm align-middle"
          *ngIf="step == 3 && showLoader"
        ></span>
      </button>

      <button
        type="button"
        id="next-btn"
        *ngIf="step == 4 && !isRegistrationOTPByPass"
        class="nav-button next-button"
        (click)="SubmitProject()"
      >
        Submit
        <span
          role="status"
          aria-hidden="true"
          class="spinner-border spinner-border-sm align-middle"
          *ngIf="showLoader"
        ></span>
      </button>

      <button
        type="button"
        id="next-btn"
        *ngIf="step <= 2 && isRegistrationOTPByPass"
        class="nav-button next-button"
        (click)="GoToNext()"
        [disabled]="step >= lastStep"
      >
        Next
        <svg
          width="16"
          height="16"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
        >
          <path d="m9 18 6-6-6-6" />
        </svg>
      </button>

      <button
        type="button"
        id="next-btn"
        *ngIf="step == 3 && isRegistrationOTPByPass"
        class="nav-button next-button"
        (click)="SubmitWithoutOTP()"
      >
        Submit
        <span
          role="status"
          aria-hidden="true"
          class="spinner-border spinner-border-sm align-middle"
          *ngIf="showLoader"
        ></span>
      </button>
    </div>

    <!-- Footer -->
    <div class="form-footer">
      <p class="footer-text">
        Already have an account?
        <a href="/customer-register" class="footer-link">Sign in</a>
      </p>
      <p class="footer-text">
        Go To Home
        <a href="/home" class="footer-link">Home</a>
      </p>
    </div>
  </div>
</div>
