<!-- Start::row-1 -->
<div class="row" style="padding-top: 4px;">
    <div class="container">

        <div class="col-xl-8">
            <div class="card custom-card">
                <div class="card-body p-4">
                    <div class="d-flex align-items-start gap-3">
                        <div class="main-card-icon primary p-0">
                            <div
                                class="avatar avatar-lg bg-primary-transparent border border-primary border-opacity-10">
                                <div class="avatar avatar-sm svg-white">
                                    <img [src]="serviceRequestDetails.vehicleLogoUrl">
                                </div>
                            </div>
                        </div>
                        <div class="flex-fill">
                            <div class="mb-1">

                                <!-- <h6 class="fw-semibold mb-0">{{serviceRequestDetails.requestModel.projectName}}
                                    <span class="badge bg-primary text-white ms-2"
                                        *ngIf="jobDetails?.vehicleStatus">{{serviceRequestDetails.requestModel.statusId}}</span>
                                </h6> -->
                            </div>
                            <div
                                class="text-muted fs-12 d-flex align-items-center justify-content-between flex-wrap gap-1">

                                <span class="text-dark fw-medium h7 mb-0 lh-1 vertical-bottom flex-grow-1">

                                    Project Name : <label>{{serviceRequestDetails.requestModel.projectName}}</label>
                                    
                                </span>
                                <a href="javascript:void(0)" class="fw-semibold">

                                    Previous Status: {{previousStatus}}
                                    <br>

                                    Current Status : <label
                                        class="text-primary">{{serviceRequestDetails.projectStatus.statusName}}
                                        <!-- <i class="fe fe-arrow-right d-inline-block"></i> -->
                                    </label>

                                    <br>

                                    Next Status: {{nextStatus}}

                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Start::row-1 -->
        <div class="col-xl-4">
            <div class="card custom-card overflow-hidden" style="height: 105px;">

                <div class="card-body" *ngIf="roleId == 10">
                    <button *ngIf="serviceRequestDetails.requestModel.statusId == 1" (click)="ApproveMethodPopUp()"
                        class="btn btn-primary-light btn-wave me-2 waves-effect waves-light">
                        <i class="align-middle"></i> Approve
                    </button>

                    <button *ngIf="serviceRequestDetails.requestModel.statusId == 1" (click)="RejectMethodPopUp()"
                        class="btn btn-primary-light btn-wave me-2 waves-effect waves-light">
                        <i class="align-middle"></i> Reject
                    </button>

                    <button *ngIf="serviceRequestDetails.requestModel.statusId == 4"
                        (click)="PitchCompleteMethodPopUp()"
                        class="btn btn-primary-light btn-wave me-2 waves-effect waves-light">
                        <i class="align-middle"></i> Pitch Complete
                    </button>

                    <button *ngIf="serviceRequestDetails.requestModel.statusId == 5" (click)="ReviewPitchMethodPopUp()"
                        class="btn btn-primary-light btn-wave me-2 waves-effect waves-light">
                        <i class="align-middle"></i> Review Pitch And Score
                    </button>

                    <button *ngIf="serviceRequestDetails.requestModel.statusId == 6" (click)="SendProposalMethodPopUp()"
                        class="btn btn-primary-light btn-wave me-2 waves-effect waves-light">
                        <i class="align-middle"></i> Send Proposal
                    </button>

                    <button *ngIf="serviceRequestDetails.requestModel.statusId == 6" (click)="RejectIdeaMethodPopUp()"
                        class="btn btn-primary-light btn-wave me-2 waves-effect waves-light">
                        <i class="align-middle"></i> Reject Idea
                    </button>

                    <button
                        *ngIf="serviceRequestDetails.requestModel.statusId == 11"
                        (click)="PaymentReceived()"
                        class="btn btn-primary-light btn-wave me-2 waves-effect waves-light">
                        <i class="align-middle"></i> Payment Received

                        <span *ngIf="showLoader" role="status" aria-hidden="true"
                        class="spinner-border spinner-border-sm align-middle"></span>
                    </button>

                     <button
                        *ngIf="serviceRequestDetails.requestModel.statusId == 12"
                        (click)="ProgramActiveModelPopUp()"
                        class="btn btn-primary-light btn-wave me-2 waves-effect waves-light">
                        <i class="align-middle"></i> Program Active

                        <span *ngIf="showLoader" role="status" aria-hidden="true"
                        class="spinner-border spinner-border-sm align-middle"></span>
                    </button>

                </div>

                <div class="card-body" *ngIf="roleId == 1">
                    <button
                        *ngIf="serviceRequestDetails.requestModel.statusId == 4 || serviceRequestDetails.requestModel.statusId == 2"
                        (click)="ScheduleMeetingMethodPopUp()"
                        class="btn btn-primary-light btn-wave me-2 waves-effect waves-light">
                        <i class="align-middle"></i> Schedule Meeting
                    </button>

                    <button
                        *ngIf="serviceRequestDetails.requestModel.statusId == 7"
                        (click)="AcceptProposal()"
                        class="btn btn-primary-light btn-wave me-2 waves-effect waves-light">
                        <i class="align-middle"></i> Accept Proposal

                        <span *ngIf="showLoader" role="status" aria-hidden="true"
                        class="spinner-border spinner-border-sm align-middle"></span>
                    </button>

                    <button
                        *ngIf="serviceRequestDetails.requestModel.statusId == 7"
                        (click)="RejectProposalPopUp()"
                        class="btn btn-primary-light btn-wave me-2 waves-effect waves-light">
                        <i class="align-middle"></i> Reject Proposal
                    </button>

                    <button
                        *ngIf="serviceRequestDetails.requestModel.statusId == 9"
                        (click)="UploadPaymentProofPopUp()"
                        class="btn btn-primary-light btn-wave me-2 waves-effect waves-light">
                        <i class="align-middle"></i> Payment
                    </button>

                    
                </div>
            </div>
        </div>

    </div>


    <div>
        <div class="card-body">
            <nav ngbNav #nav2="ngbNav" [activeId]="0" class="nav nav-style-3 nav-pills mb-3" role="tablist">
                <ng-container [ngbNavItem]="0">
                    <a ngbNavLink class="btn btn-primary-light btn-wave me-2 waves-effect waves-light nav-link"
                        role="tab" aria-current="page" aria-selected="false">Overview</a>
                    <ng-template ngbNavContent>
                        <app-service-main></app-service-main>
                    </ng-template>
                </ng-container>


                <ng-container [ngbNavItem]="1">
                    <a ngbNavLink class="nav-link " data-bs-toggle="tab" role="tab" aria-selected="true"
                        (click)="navTabChange('1')">Documents </a>
                    <ng-template ngbNavContent>
                        <div>
                            <app-service-documents></app-service-documents>
                        </div>
                    </ng-template>
                </ng-container>

                <ng-container [ngbNavItem]="2">
                    <a ngbNavLink class="nav-link " data-bs-toggle="tab" role="tab" aria-selected="true"
                        (click)="navTabChange('2')">Time Line </a>
                    <ng-template ngbNavContent>
                        <div>
                            <app-service-timeline
                                ></app-service-timeline>
                        </div>
                    </ng-template>
                </ng-container>

                <ng-container [ngbNavItem]="3">
                    <a ngbNavLink class="nav-link " data-bs-toggle="tab" role="tab" aria-selected="true"
                        (click)="navTabChange('3')">Notes </a>
                    <ng-template ngbNavContent>
                        <div>
                            <app-service-notes></app-service-notes>
                        </div>
                    </ng-template>
                </ng-container>

                 <ng-container [ngbNavItem]="4">
                    <a ngbNavLink class="nav-link " data-bs-toggle="tab" role="tab" aria-selected="true"
                        (click)="navTabChange('4')">Meetings</a>
                    <ng-template ngbNavContent>
                        <div>
                            <app-service-meeting></app-service-meeting>
                        </div>
                    </ng-template>
                </ng-container>

                <ng-container [ngbNavItem]="5">
                    <a ngbNavLink class="nav-link " data-bs-toggle="tab" role="tab" aria-selected="true"
                        (click)="navTabChange('5')">Payment</a>
                    <ng-template ngbNavContent>
                        <div>
                            <app-service-payment></app-service-payment>
                        </div>
                    </ng-template>
                </ng-container>


            </nav>
            <div class="tab-content" [ngbNavOutlet]="nav2"></div>
        </div>
    </div>
    <!--End::row-2 -->
</div>

<ng-template #modalApproveMethodPopUp let-c="close" let-d="dismiss" class="modal-xl">
    <div class="modal-header">
        <h6 class="modal-title">Approve Request</h6>
    </div>
    <div class="card-body padding-1rem" style="padding: 10px;">
        <div class="row mb-3">
            <div class="col-md-12  mb-3">
                <div class="form-group text-start">
                    <label> FollowUp Start <span class="text-danger">*</span></label>
                    <input matInput [(ngModel)]="approveProjectRequestModel.FollowUpStart" class="form-control"
                        placeholder="Start Date" type="date" required #methodStartInput="ngModel">
                </div>
            </div>

            <div class="col-md-12  mb-3">
                <div class="form-group text-start">
                    <div class="form-group text-start">
                        <label> FollowUp End <span class="text-danger">*</span></label>
                        <input matInput [(ngModel)]="approveProjectRequestModel.FollowUpEnd" class="form-control"
                            placeholder="End Date" type="date" required #methodEndInput="ngModel">
                    </div>
                </div>
            </div>

            <div class="col-md-12  mb-3">
                <div class="form-group text-start">
                    <div class="form-group text-start">
                        <label> Comment <span class="text-danger">*</span></label>

                        <textarea rows="5" name="" id="" required #methodEndInput="ngModel" matInput
                            [(ngModel)]="approveProjectRequestModel.Comments" class="form-control"
                            placeholder="Comment">

          </textarea>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal-footer">
        <div class="row">
            <div class="col-md-12">
                <button class="btn ripple btn-primary btn-block" (click)="Approve()">Submit
                    <span *ngIf="approveshowLoader" role="status" aria-hidden="true"
                        class="spinner-border spinner-border-sm align-middle"></span>
                </button>
                <button class="btn btn-white" style="margin-left: 5px;" (click)="c('Close click')">Cancel</button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #modalRejectMethodPopUp let-c="close" let-d="dismiss" class="modal-xl">
    <div class="modal-header">
        <h6 class="modal-title">Reject Request</h6>
    </div>
    <div class="card-body padding-1rem" style="padding: 10px;">
        <div class="row mb-3">
            <div class="col-md-12  mb-3">
                <div class="form-group text-start">
                    <div class="form-group text-start">
                        <label class="mb-2"> Comment <span class="text-danger">*</span></label>

                        <textarea rows="5" name="" id="" required #methodEndInput="ngModel" matInput
                            [(ngModel)]="rejectProjectRequestModel.Comments" class="form-control" placeholder="Comment">

          </textarea>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal-footer">
        <div class="row">
            <div class="col-md-12">
                <button class="btn ripple btn-primary btn-block" (click)="Reject()">Submit
                    <span *ngIf="showLoader" role="status" aria-hidden="true"
                        class="spinner-border spinner-border-sm align-middle"></span>
                </button>
                <button class="btn btn-white" style="margin-left: 5px;" (click)="c('Close click')">Cancel</button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #modalScheduleMeetingPopUp let-c="close" let-d="dismiss" class="modal-xl">
    <div class="modal-header">
        <h6 class="modal-title">Meeting Schedule</h6>
    </div>
    <div class="card-body padding-1rem" style="padding: 10px;">
        <div class="row mb-3">

            <div class="col-md-6  mb-3">
                <div class="form-group text-start">
                    <label> Available Schedule Date <span class="text-danger">*</span></label>
                   
                    <div class="time-slots-container">
                        <div class="scrollable-content time-slots-grid">

                            <label class="time-slot"  *ngFor="let item of availableSlot; let i = index"
                                style="width: 92px;">
                                <input type="radio" [(ngModel)]="scheduleMeetingModel.ScheduleDate" (click)="GetSlotsByDate(item.slots)" name="dateSlot"  value="{{item.slotDate}} ">
                                <span class="slot-display" style="padding: 12px 2px;">{{item.slotDate | date: 'dd-MM-yyyy'}} </span>
                            </label>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-6  mb-3">
                <div class="form-group text-start">
                    <label> Schedule Time<span class="text-danger">*</span></label>
                    <div class="time-slots-container">
                        <div class="scrollable-content time-slots-grid">

                            <label class="time-slot"  *ngFor="let timeSlot of timeSlotsByDate; let i = index"
                                style="width: 70px;">
                                <input type="radio" [(ngModel)]="scheduleMeetingModel.ScheduleTime" (click)="SelectScheduleTime(timeSlot)" name="timeSlot" value="{{timeSlot.startTime}} ">
                                <span class="slot-display">{{timeSlot.startTime}} </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12  mb-3">
                <div class="form-group text-start">
                    <div class="form-group text-start">
                        <label class="mb-2"> Feedback <span class="text-danger">*</span></label>

                        <textarea rows="5" name="" id="" required #methodEndInput="ngModel" matInput
                            [(ngModel)]="scheduleMeetingModel.Feedback" class="form-control" placeholder="Comment">

                        </textarea>
                    </div>
                </div>
            </div>

            <div class="col-md-12  mb-3">
                <label class="mb-2">Is Meeting Virtual <span class="text-danger">*</span></label>

                <div class="row">

                    <div class="col-md-6">
                        <label for="AllowDiscountOnInvoice" class="form-check-label"> Yes
                        </label>
                        <input style="margin: 0px 5px;" [(ngModel)]="scheduleMeetingModel.IsVirtual" [value]="true"
                            type="radio" name="AllowDiscountOnInvoice" id="AllowDiscountOnInvoice"
                            class="form-check-input">

                        <label for="AllowDiscountOnInvoice" class="form-check-label"> No
                        </label>
                        <input style="margin: 0px 5px;" [(ngModel)]="scheduleMeetingModel.IsVirtual" [value]="false"
                            type="radio" name="AllowDiscountOnInvoice" id="AllowDiscountOnInvoice"
                            class="form-check-input">


                    </div>

                    <div class="col-md-6" *ngIf="scheduleMeetingModel.IsVirtual">

                        <div class="form-group text-start">
                            <label> Meeting Platform<span class="text-danger">*</span></label>
                            <ng-select [items]="platFormOptions" [(ngModel)]="scheduleMeetingModel.Platform"
                                [selectOnTab]="true" bindValue="name" bindLabel="name" labelForId="name"
                                [multiple]="false" placeholder="Select Meeting Platform">
                            </ng-select>
                        </div>

                    </div>

                </div>



            </div>

            <div class="col-md-12  mb-3" *ngIf="scheduleMeetingModel.IsVirtual">
                <div class="form-group text-start">
                    <div class="form-group text-start">
                        <label class="mb-2"> Url <span class="text-danger">*</span></label>

                        <input type="text" name="" id="" required #methodUrlInput="ngModel" matInput
                            [(ngModel)]="scheduleMeetingModel.Url" class="form-control" placeholder="Url">
                    </div>
                </div>
            </div>

        </div>

    </div>


    <div class="modal-footer">
        <div class="row">
            <div class="col-md-12">
                <button class="btn ripple btn-primary btn-block" (click)="ScheduleMeeting()">Submit
                    <span *ngIf="showLoader" role="status" aria-hidden="true"
                        class="spinner-border spinner-border-sm align-middle"></span>
                </button>
                <button class="btn btn-white" style="margin-left: 5px;" (click)="c('Close click')">Cancel</button>
            </div>
        </div>
    </div>
</ng-template>


<ng-template #modalPitchCompletePopUp let-c="close" let-d="dismiss" class="modal-xl">
    <div class="modal-header">
        <h6 class="modal-title">Pitch Complete</h6>
    </div>
    <div class="card-body padding-1rem" style="padding: 10px;">
        <div class="row mb-3">

            <div class="col-md-12  mb-3">
                <div class="form-group text-start">
                    <div class="form-group text-start">
                        <label class="mb-2"> Feedback <span class="text-danger">*</span></label>

                        <textarea rows="5" name="" id="" required #methodEndInput="ngModel" matInput
                            [(ngModel)]="pitchCompleteRequestModel.Feedback" class="form-control" placeholder="Comment">

                        </textarea>
                    </div>
                </div>
            </div>

            <div class="col-md-12  mb-3">
                <div class="form-group text-start">
                    <div class="form-group text-start">
                        <label class="mb-2"> Upload Documents <span class="text-danger">*</span></label>

                        <input type="file" (change)="onFileSelectedCommon($event,'Pitch Complete')" #fileInput
                            style="width: -webkit-fill-available;" class="select-file-btn">

                    </div>
                </div>
            </div>

            <div class="col-md-12  mb-3">

                <div class="">

                    <div class="row">




                        <div class="col-md-5 mb-2" *ngFor="let item of documentList; let i = index">

                            <div class="upload-container">
                                <div class="upload-section">
                                    <h3 class="section-title">Pitch Document <span class="required">*</span></h3>
                                    <div class="upload-area" data-type="accident">
                                        <div class="upload-icon">
                                            <a href="javascript:void(0);" (click)="RemoveFile(i)">
                                                Remove File
                                            </a>
                                            <svg width="48" height="48" viewBox="0 0 24 24" fill="none"
                                                stroke="currentColor" stroke-width="1.5">
                                                <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z" />
                                                <polyline points="14,2 14,8 20,8" />
                                                <line x1="16" y1="13" x2="8" y2="13" />
                                                <line x1="16" y1="17" x2="8" y2="17" />
                                                <polyline points="10,9 9,9 8,9" />
                                            </svg>
                                        </div>
                                        <p class="support-text">Only Support</p>
                                        <p class="file-types">.jpg / .png .PDF</p>
                                    </div>
                                </div>

                            </div>

                        </div>


                    </div>

                </div>

            </div>

        </div>

    </div>


    <div class="modal-footer">
        <div class="row">
            <div class="col-md-12">
                <button class="btn ripple btn-primary btn-block" (click)="PitchComplete()">Submit
                    <span *ngIf="showLoader" role="status" aria-hidden="true"
                        class="spinner-border spinner-border-sm align-middle"></span>
                </button>
                <button class="btn btn-white" style="margin-left: 5px;" (click)="c('Close click')">Cancel</button>
            </div>
        </div>
    </div>
</ng-template>


<ng-template #modalReviewPitchPopUp let-c="close" let-d="dismiss" class="modal-xl">
    <div class="modal-header">
        <h6 class="modal-title">Add Pitch Score</h6>
    </div>
    <div class="card-body padding-1rem" style="padding: 10px;">
        <div class="row mb-3">

            <div class="col-md-12  mb-3">
                <label class="mb-2"> Select Score <span class="text-danger">*</span></label>

                <div class="rating-scale">
                    <!-- <p>On a scale of 1 to 10, how likely are you to recommend our product to a
                                            friend or colleague?</p> -->
                    <div class="rating-buttons">
                        <button class="rating-button" (click)="selectRangeQuestionAnswer(0)">0</button>
                        <button class="rating-button" (click)="selectRangeQuestionAnswer(1)">1</button>
                        <button class="rating-button" (click)="selectRangeQuestionAnswer(2)">2</button>
                        <button class="rating-button" (click)="selectRangeQuestionAnswer(3)">3</button>
                        <button class="rating-button" (click)="selectRangeQuestionAnswer(4)">4</button>
                        <button class="rating-button" (click)="selectRangeQuestionAnswer(5)">5</button>
                        <button class="rating-button" (click)="selectRangeQuestionAnswer(6)">6</button>
                        <button class="rating-button-7-8" (click)="selectRangeQuestionAnswer(7)">7</button>
                        <button class="rating-button-7-8" (click)="selectRangeQuestionAnswer(8)">8</button>
                        <button class="rating-button-9-10" (click)="selectRangeQuestionAnswer(9)">9</button>
                        <button class="rating-button-9-10" (click)="selectRangeQuestionAnswer(10)">10</button>
                    </div>
                </div>
                <p style="float: left;" class="d-flex justify-content-start">Selected Value: {{ pitchScoreValue }}</p>

            </div>


            <div class="col-md-12  mb-3">
                <div class="form-group text-start">
                    <div class="form-group text-start">
                        <label class="mb-2"> Review <span class="text-danger">*</span></label>

                        <textarea rows="5" name="" id="" required #methodEndInput="ngModel" matInput
                            [(ngModel)]="reviewPitchAndScoreModel.Review" class="form-control" placeholder="Comment">
                        </textarea>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal-footer">
        <div class="row">
            <div class="col-md-12">
                <button class="btn ripple btn-primary btn-block" (click)="ReviewPitch()">Submit
                    <span *ngIf="showLoader" role="status" aria-hidden="true"
                        class="spinner-border spinner-border-sm align-middle"></span>
                </button>
                <button class="btn btn-white" style="margin-left: 5px;" (click)="c('Close click')">Cancel</button>
            </div>
        </div>
    </div>
</ng-template>


<ng-template #modalSendProposalPopUp let-c="close" let-d="dismiss" class="modal-xl">
    <div class="modal-header">
        <h6 class="modal-title">Send Proposal</h6>
    </div>
    <div class="card-body padding-1rem" style="padding: 10px;">
        <div class="row mb-3">

            <div class="col-md-12  mb-3">
                <div class="form-group text-start">
                    <div class="form-group text-start">
                        <label class="mb-2"> Feedback <span class="text-danger">*</span></label>

                        <textarea rows="5" name="" id="" required #methodEndInput="ngModel" matInput
                            [(ngModel)]="sendProposalModel.Comments" class="form-control" placeholder="Comment">

                        </textarea>
                    </div>
                </div>
            </div>

            <div class="col-md-12  mb-3">
                <div class="form-group text-start">
                    <div class="form-group text-start">
                        <label class="mb-2"> Upload Documents <span class="text-danger">*</span></label>

                        <input type="file" (change)="onFileSelectedCommon($event,'Proposal Document')" #fileInput
                            style="width: -webkit-fill-available;" class="select-file-btn">

                    </div>
                </div>
            </div>

            <div class="col-md-12  mb-3">

                <div class="">

                    <div class="row">




                        <div class="col-md-5 mb-2" *ngFor="let item of documentList; let i = index">

                            <div class="upload-container">
                                <div class="upload-section">
                                    <h3 class="section-title">Send Proposal <span class="required">*</span></h3>
                                    <div class="upload-area" data-type="accident">
                                        <div class="upload-icon">
                                            <a href="javascript:void(0);" (click)="RemoveFile(i)">
                                                Remove File
                                            </a>
                                            <svg width="48" height="48" viewBox="0 0 24 24" fill="none"
                                                stroke="currentColor" stroke-width="1.5">
                                                <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z" />
                                                <polyline points="14,2 14,8 20,8" />
                                                <line x1="16" y1="13" x2="8" y2="13" />
                                                <line x1="16" y1="17" x2="8" y2="17" />
                                                <polyline points="10,9 9,9 8,9" />
                                            </svg>
                                        </div>
                                        <p class="support-text">Only Support</p>
                                        <p class="file-types">.jpg / .png .PDF</p>
                                    </div>
                                </div>

                            </div>

                        </div>


                    </div>

                </div>

            </div>

        </div>

    </div>


    <div class="modal-footer">
        <div class="row">
            <div class="col-md-12">
                <button class="btn ripple btn-primary btn-block" (click)="SendProposal()">Submit
                    <span *ngIf="showLoader" role="status" aria-hidden="true"
                        class="spinner-border spinner-border-sm align-middle"></span>
                </button>
                <button class="btn btn-white" style="margin-left: 5px;" (click)="c('Close click')">Cancel</button>
            </div>
        </div>
    </div>
</ng-template>


<ng-template #modalRejectIdeaModelPopUp let-c="close" let-d="dismiss" class="modal-xl">
    <div class="modal-header">
        <h6 class="modal-title">Reject Idea</h6>
    </div>
    <div class="card-body padding-1rem" style="padding: 10px;">
        <div class="row mb-3">
            <div class="col-md-12  mb-3">
                <div class="form-group text-start">
                    <div class="form-group text-start">
                        <label class="mb-2"> Comment <span class="text-danger">*</span></label>

                        <textarea rows="5" name="" id="" required #methodEndInput="ngModel" matInput
                            [(ngModel)]="rejectIdeaModel.Comments" class="form-control" placeholder="Comment">

          </textarea>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal-footer">
        <div class="row">
            <div class="col-md-12">
                <button class="btn ripple btn-primary btn-block" (click)="RejectIdea()">Submit
                    <span *ngIf="showLoader" role="status" aria-hidden="true"
                        class="spinner-border spinner-border-sm align-middle"></span>
                </button>
                <button class="btn btn-white" style="margin-left: 5px;" (click)="c('Close click')">Cancel</button>
            </div>
        </div>
    </div>
</ng-template>


<ng-template #modalRejectProposalModelPopUp let-c="close" let-d="dismiss" class="modal-xl">
    <div class="modal-header">
        <h6 class="modal-title">Reject Proposal</h6>
    </div>
    <div class="card-body padding-1rem" style="padding: 10px;">
        <div class="row mb-3">
            <div class="col-md-12  mb-3">
                <div class="form-group text-start">
                    <div class="form-group text-start">
                        <label class="mb-2"> Comment <span class="text-danger">*</span></label>

                        <textarea rows="5" name="" id="" required #methodEndInput="ngModel" matInput
                            [(ngModel)]="rejectProposalModel.Comments" class="form-control" placeholder="Comment">

          </textarea>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal-footer">
        <div class="row">
            <div class="col-md-12">
                <button class="btn ripple btn-primary btn-block" (click)="RejectProposal()">Submit
                    <span *ngIf="showLoader" role="status" aria-hidden="true"
                        class="spinner-border spinner-border-sm align-middle"></span>
                </button>
                <button class="btn btn-white" style="margin-left: 5px;" (click)="c('Close click')">Cancel</button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #modalUploadPaymentProofModelPopUp let-c="close" let-d="dismiss" class="modal-xl">
    <div class="modal-header">
        <h6 class="modal-title">Upload Payment Proof</h6>
    </div>
    <div class="card-body padding-1rem" style="padding: 10px;">
        <div class="row mb-3">

            <div class="col-md-12  mb-3">
                <div class="form-group text-start">
                    <div class="form-group text-start">
                        <label class="mb-2"> Comment <span class="text-danger">*</span></label>

                        <textarea rows="5" name="" id="" required #methodEndInput="ngModel" matInput
                            [(ngModel)]="uploadPaymentProofdocModel.Comments" class="form-control" placeholder="Comment">

                        </textarea>
                    </div>
                </div>
            </div>

            <div class="col-md-12  mb-3">
                <div class="form-group text-start">
                    <div class="form-group text-start">
                        <label class="mb-2"> Upload Payment Proof <span class="text-danger">*</span></label>

                        <input type="file" (change)="onFileSelectedCommon($event,'Payment Proof')" #fileInput
                            style="width: -webkit-fill-available;" class="select-file-btn">

                    </div>
                </div>
            </div>

            <div class="col-md-12  mb-3">

                <div class="">

                    <div class="row">




                        <div class="col-md-5 mb-2" *ngFor="let item of documentList; let i = index">

                            <div class="upload-container">
                                <div class="upload-section">
                                    <h3 class="section-title">Upload Payment Proof <span class="required">*</span></h3>
                                    <div class="upload-area" data-type="accident">
                                        <div class="upload-icon">
                                            <a href="javascript:void(0);" (click)="RemoveFile(i)">
                                                Remove File
                                            </a>
                                            <svg width="48" height="48" viewBox="0 0 24 24" fill="none"
                                                stroke="currentColor" stroke-width="1.5">
                                                <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z" />
                                                <polyline points="14,2 14,8 20,8" />
                                                <line x1="16" y1="13" x2="8" y2="13" />
                                                <line x1="16" y1="17" x2="8" y2="17" />
                                                <polyline points="10,9 9,9 8,9" />
                                            </svg>
                                        </div>
                                        <p class="support-text">Only Support</p>
                                        <p class="file-types">.jpg / .png .PDF</p>
                                    </div>
                                </div>

                            </div>

                        </div>


                    </div>

                </div>

            </div>

        </div>

    </div>


    <div class="modal-footer">
        <div class="row">
            <div class="col-md-12">
                <button class="btn ripple btn-primary btn-block" (click)="UploadPaymentProof()">Submit
                    <span *ngIf="showLoader" role="status" aria-hidden="true"
                        class="spinner-border spinner-border-sm align-middle"></span>
                </button>
                <button class="btn btn-white" style="margin-left: 5px;" (click)="c('Close click')">Cancel</button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #modalProgramActiveModelPopUp let-c="close" let-d="dismiss" class="modal-xl">
    <div class="modal-header">
        <h6 class="modal-title">Program Active</h6>
    </div>
    <div class="card-body padding-1rem" style="padding: 10px;">
        <div class="row mb-3">
            <div class="col-md-12  mb-3">
                <div class="form-group text-start">
                    <label> Project Start <span class="text-danger">*</span></label>
                    <input matInput [(ngModel)]="programActiveRequestModel.ProjectStart" class="form-control"
                        placeholder="Start Date" type="date" required #methodStartInput="ngModel">
                </div>
            </div>

            <div class="col-md-12  mb-3">
                <div class="form-group text-start">
                    <div class="form-group text-start">
                        <label> Project End <span class="text-danger">*</span></label>
                        <input matInput [(ngModel)]="programActiveRequestModel.ProjectEnd" class="form-control"
                            placeholder="End Date" type="date" required #methodEndInput="ngModel">
                    </div>
                </div>
            </div>

            <div class="col-md-12  mb-3">
                <div class="form-group text-start">
                    <div class="form-group text-start">
                        <label> Comment <span class="text-danger">*</span></label>

                        <textarea rows="5" name="" id="" required #methodEndInput="ngModel" matInput
                            [(ngModel)]="programActiveRequestModel.Comments" class="form-control"
                            placeholder="Comment">

          </textarea>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal-footer">
        <div class="row">
            <div class="col-md-12">
                <button class="btn ripple btn-primary btn-block" (click)="ProgramActive()">Submit
                    <span *ngIf="approveshowLoader" role="status" aria-hidden="true"
                        class="spinner-border spinner-border-sm align-middle"></span>
                </button>
                <button class="btn btn-white" style="margin-left: 5px;" (click)="c('Close click')">Cancel</button>
            </div>
        </div>
    </div>
</ng-template>