<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

<section class="services-section">
  <div class="container">
    <!-- Header -->
    <div class="header">
      <!-- <span class="services-label">SERVICES</span> -->
      <h2 class="main-title">Service We Provide
        <span role="status" aria-hidden="true" class="spinner-border spinner-border-sm align-middle"
            *ngIf="showLoader"></span>
      </h2>
      <!-- <p class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pulvinar massa eget sagittis.
      </p> -->
    </div>

    <!-- Services Grid -->
    <div class="services-grid">
      <div *ngFor="let service of serviceList" class="service-card">


        <div class="icon-container">
          <i class="fab fa-apple icon"></i>
        </div>
        <div class="content">
          <h3 class="service-title">{{ service.name }}</h3>
          <p class="service-description">
            {{ service.description }}
          </p>
        </div>
        <div class="read-more">
          <!-- <a href="javascript:void(0);" [routerLink]="['/customer-project']" [queryParams]="{serv:service.id}"> -->



          <a *ngIf="service.id == 1 || service.id == 2" href="/customer-project?serv={{service.id}}">
            <span>Join</span>
          </a>

          <a *ngIf="service.id == 3" href="/feasibility-study-project?serv={{service.id}}">
            <span>Join</span>
          </a>


          <a *ngIf="service.id == 4" href="/preac-study-project?serv={{service.id}}">
            <span>Join</span>
          </a>
         
          <a *ngIf="service.id == 9" href="/foreigner-entrepreneur-project?serv={{service.id}}">
            <span>Join</span>
          </a>

          <i class="fas fa-chevron-right arrow"></i>
        </div>

      </div>
    </div>
  </div>
</section>





<ng-template #modalServicePopUp>


  <div class="modal" (click)="onBackdropClick($event)">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">{{ serviceModel.name }}</h2>
        <button class="close-btn" (click)="onClose()">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="modal-body">
        <p class="modal-description">{{serviceModel.description}}</p>
        <div class="packages-section">
          <h3 class="packages-title">Available Packages</h3>
          <div class="packages-grid">
            <div *ngFor="let package of packageList" class="package-card">
              <h4 class="package-name"> {{ package.name }} </h4>
              <p class="package-price"> {{ package.price }}</p>
              <ul class="package-features">
                <!-- <li>
                  <span> feature </span>
                </li> -->
              </ul>
              <button class="choose-package-btn">
                Choose Package
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</ng-template>