<!-- Start::page-header -->
<div
  class="my-4 page-header-breadcrumb single-page-header d-flex align-items-center justify-content-between flex-wrap gap-2">
  <div>
    <div>
      <h1 class="page-title fw-medium fs-18 mb-2">Profile</h1>
    </div>


    <!-- <button class="btn btn-primary-light btn-wave me-2 waves-effect waves-light" id="btnNavigateBack" *ngIf="hideButton"  >
          <i class="bi bi-arrow-left-circle align-middle"></i> Back
      </button> -->
  </div>

</div>
<!-- End::page-header -->
<div class="main-mail-container p-3 background-color-white">

  <div class="row mb-3">
    <div class="col-md-6">
      <div class="form-group text-start">
        <label>First Names <span class="text-danger">*</span></label>
        <input matInput [(ngModel)]="user.firstNames" disabled class="form-control" placeholder="Enter your password"
          type="text" required #firstNameInput="ngModel">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group text-start">
        <label>Last Names <span class="text-danger">*</span></label>
        <input matInput [(ngModel)]="user.lastName" disabled class="form-control" placeholder="Enter your password"
          type="text" required #lastNameInput="ngModel">
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <div class="form-group text-start">
        <label>Email Address <span class="text-danger">*</span></label>
        <input matInput [(ngModel)]="user.emailAddress" disabled class="form-control"
          placeholder="Enter your Email Address" type="text" required #firstNameInput="ngModel">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group text-start">
        <label>Job Title <span class="text-danger">*</span></label>
        <input matInput [(ngModel)]="user.jobTitle" disabled class="form-control" placeholder="Enter your Job Title"
          type="text" required #lastNameInput="ngModel">
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <label>Is Available </label>
      <div class="row switcher-style gx-0">
        <div class="col-sm-2 col-6">
          <div class="form-check switch-select"><label for="isAvailable" class="form-check-label"> Yes </label>
            <input [(ngModel)]="user.isAvailable" [value]="true" type="radio" name="isAvailable"
              id="isAvailable" class="form-check-input">
          </div>
        </div>
        <div class="col-sm-2 col-6">
          <div class="form-check switch-select"><label for="isAvailable" class="form-check-label"> No </label>
            <input [(ngModel)]="user.isAvailable" [value]="false" type="radio" name="isAvailable"
              id="isAvailable" class="form-check-input">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group text-start">
        <label>Last Logged In</label>
        <span>:- {{user.lastLoggedIn | date: 'MM/dd/yyyy hh:mm'}}</span>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <div class="form-group text-start">
        <label class="mb-3">Please sign below red BOX</label>
        <br>
        <canvas class="border-solid-black" #signPadCanvas (touchstart)="startSignPadDrawing($event)"
          (touchmove)="movedFinger($event)"></canvas>
      </div>
    </div>

    <div class="col-md-6" *ngIf="user.signatureUrl !=null">
      <label class="mb-3">Your Signature</label>
      <br>
      <div>
        <img class="border-solid-black" src='{{ signImage }}' />
      </div>

    </div>
  </div>

  <div class="row justify-content-center">
    <div class="justify-content-center">
      <a href="javascript:;" (click)="UpdateProfile()" class="btn btn-success">
        <i class="fa fa-plus mr-1"></i> Update</a>
    </div>
  </div>

</div>