<div
  class="my-4 page-header-breadcrumb single-page-header d-flex align-items-center justify-content-between flex-wrap gap-2">
  <div>
    <button class="btn btn-primary-light btn-wave me-2 waves-effect waves-light" id="btnNavigateBack"
      [routerLink]="['../admin']">
      <i class="bi bi-arrow-left-circle align-middle"></i> Back
    </button>
  </div>

</div>


<div class="row" id="div">



  <div style="width: 50%; height: 50%; float:left;">
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table text-nowrap">
          <tbody>
            <tr>
              <td><b>Configuration
                  <span role="status" aria-hidden="true" class="spinner-border spinner-border-sm align-middle"
                    *ngIf="showLoader"></span>
                </b></td>
              <td style="text-align: right;border-right: 1px solid">
                <!-- <a href="javascript:;"
                  (click)="AddNewMake()"><i class="fas fa-plus fa-fw" style="color:green"></i></a>  -->
                <!-- <a href="javascript:;" (click)="AddNewCity()" class="btn btn-success btn-sm btn-rounded pl-2 pr-3">
                    <i class="fa fa-plus mr-1"></i> Add New
                  <span role="status" aria-hidden="true" class="spinner-border spinner-border-sm align-middle" *ngIf="showLoader"></span>
                  </a> -->
              </td>
            </tr>
            <tr>
              <td colspan="">
                <p>
                  <span>Allow User Without Verification ?</span>
                </p>
              </td>

              <td colspan="" class="td">
                <label for="AllowDiscountOnInvoice" class="form-check-label"> Yes
                </label>
                <input style="margin: 0px 5px;" (change)="UpdateConfiguaration('true')" [(ngModel)]="oTPFuction"
                  [value]="true" type="radio" name="AllowDiscountOnInvoice" id="AllowDiscountOnInvoice"
                  class="form-check-input">

                <label for="AllowDiscountOnInvoice" class="form-check-label"> No
                </label>
                <input style="margin: 0px 5px;" (change)="UpdateConfiguaration('false')" [(ngModel)]="oTPFuction"
                  [value]="false" type="radio" name="AllowDiscountOnInvoice" id="AllowDiscountOnInvoice"
                  class="form-check-input">
              </td>


            </tr>



          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>