<div
  class="my-4 page-header-breadcrumb single-page-header d-flex align-items-center justify-content-between flex-wrap gap-2">
  <div>
    <button class="btn btn-primary-light btn-wave me-2 waves-effect waves-light" id="btnNavigateBack"
      [routerLink]="['../admin']">
      <i class="bi bi-arrow-left-circle align-middle"></i> Back
    </button>
  </div>

</div>


<div class="row">



  <div style="width: 50%; height: 50%; float:left;">
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table text-nowrap">
          <tbody>
            <tr>
              <td><b>Department</b></td>
              <td style="text-align: right;border-right: 1px solid">
                <!-- <a href="javascript:;"
                  (click)="AddNewMake()"><i class="fas fa-plus fa-fw" style="color:green"></i></a>  -->
                <!-- <a href="javascript:;" (click)="AddNewMake()" class="btn btn-success btn-sm btn-rounded pl-2 pr-3">
                    <i class="fa fa-plus mr-1"></i> Add New</a> -->
              </td>
            </tr>
            <tr>
              <td colspan="2" style="border-right: 1px solid">
                <!-- <input type="text" placeholder="search..." class="header-search-bar form-control" (keyup)="searchMakeList($event)"></td> -->

            </tr>
            <tr *ngIf="showMakeActionRow">

              <td>
                <input type="text" class="header-search-bar form-control" placeholder="Add Make" #newMake
                  id="makeRefValue" />
              </td>
              <td style="border-right: 1px solid">
                <!-- <a href="javascript:;" (click)="submitNewMake(newMake.value)">save</a> |
                <a href="javascript:;" (click)="cancelMakeAdd()">cancel</a> -->
              </td>
            </tr>

            <tr *ngFor="let item of departmentTypeList">
              <td>{{item.type}}</td>
              <td style="text-align: right;border-right: 1px solid">
                <!-- <a href="javascript:;"
                  (click)="getModels(make.makeId,make.name)"> View Models </a>  -->
                <button class="btn btn-sm btn-icon btn-primary-light btn-wave"
                  (click)="OnDepartmentChanged(item.departmentTypeId, item.type)">
                  <i class="ri-eye-line"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div style="width: 50%; height: 50%; float:right;" *ngIf="departmentTypeSelected">
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table text-nowrap">
          <tbody>

            <tr>
              <td><b>Sub Department </b></td>
              <td style="text-align: right;">
                <!-- <a href="javascript:;"
                  (click)="AddNewModel()"><i class="fas fa-plus fa-fw" style="color:green"></i></a>  -->

                <a href="javascript:;" (click)="AddSubDepartmentModel()"
                  class="btn btn-success btn-sm btn-rounded pl-2 pr-3">
                  <i class="fa fa-plus mr-1"></i> Add new Sub Department under <b>({{departmentName}})</b> </a>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <!-- <input type="text" class="header-search-bar form-control" placeholder="search..." (keyup)="searchDepartmentTypeList($event)"> -->

              </td>

            </tr>
            <tr *ngIf="showSubModelActionRow">

              <td>
                <input type="text" class="header-search-bar form-control" placeholder="Add Sub Department"
                  #subDepartmentType id="uniqueRefValue" />
              </td>
              <td>
                <a href="javascript:;" (click)="AddSubDepartment(subDepartmentType.value)">save</a> |
                <a href="javascript:;" (click)="cancelSubDepartment()">cancel</a>
              </td>
            </tr>
            <tr *ngIf="showExistingSubDepartmentDropDown">

              <td>
                <select class="form-control form-control-sm" #subDepartmentDropDown>
                  <option disabled selected>Please select</option>
                  <option *ngFor="let sub of existingSubDepartments" [value]="sub.activityStatusId">
                    {{sub.activityDesc}}
                  </option>
                </select>
              </td>
              <td>
                <a href="javascript:;" (click)="AddExistingSubDepartmentToDepartment(subDepartmentDropDown.value)">save</a> |
                <a href="javascript:;" (click)="cancelSubDepartment()">cancel</a>
              </td>
            </tr>
            <tr *ngFor="let item of subDepartmentOptions; let i = index">
              <td>{{item.activityDesc}}</td>
              <td style="text-align: right; border-right: 1px solid;">
                <input class="ms-9 form-check-input" type="checkbox" id="item.isSelcted{{i}}" value="item.isSelcted"
                  [(ngModel)]="item.isSelcted" name="item.isSelcted{{i}}" (change)="removeSubDepartment(item)">
                <!-- <input type="checkbox" [id]="checkboxforselectAllColumns" #checkboxforselectAllColumns
                            (change)="selectFindReplcaeAllColumns( checkboxforselectAllColumns.checked)"> -->
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>