<!-- Start:: row-1 -->
<div class="row">
    <div class="col-xxl-3 col-xl-4">
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-body">

                        <div class="d-flex bd-highlight">
                            <div class="p-2 flex-grow-1 bd-highlight">
                                <p>GENERATE NEW OR UPLOAD</p>
                            </div>
                            <div class="p-2 bd-highlight" *ngIf="showLoader">
                                <span role="status" aria-hidden="true"
                                    class="spinner-border spinner-border-sm align-middle"></span>
                            </div>
                        </div>



                        <ul class="list-unstyled files-main-nav overflow-scroll" id="files-main-nav">

                            <li class="files-type">
                                <a href="javascript:void(0)" (click)="CreateNewDocument()">
                                    <div class="d-flex align-items-center">
                                        <div class="me-2">
                                            <i class="ri-folder-2-line fs-16"></i>
                                        </div>
                                        <span class="flex-fill text-nowrap">
                                            Upload New Document
                                        </span>
                                        <!-- <span class="badge bg-primary">322</span> -->
                                    </div>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-xxl-9 col-xl-8">
        <div class=" overflow-hidden">
            <div class="card-body p-0">
                <div class="file-manager-folders">
                    <div class="d-flex p-3 flex-wrap gap-2 align-items-center justify-content-between border-bottom">
                        <div class="flex-fill">
                            <h6 class="fw-medium mb-0">Documents</h6>
                        </div>
                        <div class="d-flex gap-2 flex-wrap justify-content-sm-end w-75">
                            <input class="form-control form-control-sm w-50" type="text" placeholder="Search Here"
                                aria-label=".form-control-sm example">
                            <!-- <button  (click)="CreateNewDocument()"
                                class="btn btn-sm btn-primary btn-w-md d-flex align-items-center justify-content-center btn-wave waves-light"
                                data-bs-toggle="modal" data-bs-target="#create-folder">
                                <i class="ri-add-circle-line align-middle me-1"></i>Upload New Document
                            </button> -->
                            <ng-template #PopoversModal let-modal>
                                <div class="modal-header">
                                    <h6 class="modal-title" id="staticBackdropLabel">Upload New Document
                                    </h6>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <label for="create-folder1" class="form-label">Folder Name</label>
                                    <input type="text" class="form-control" id="create-folder1"
                                        placeholder="Folder Name">
                                </div>
                                <div class="modal-footer">

                                    <button type="button" class="btn btn-sm btn-success">Create</button>


                                </div>
                            </ng-template>

                        </div>
                    </div>
                    <div class="p-3 file-folders-container">

                        <div class="row">
                            <div class="col-xl-12">
                                <div class="table-responsive border border-bottom-0">
                                    <table class="table text-nowrap table-hover">
                                        <thead>
                                            <tr>
                                                <!-- <th scope="col">Document Type</th> -->
                                                <th scope="col">File Name</th>
                                                <th scope="col">Date</th>
                                                <th scope="col">Delete</th>
                                                <!-- <th scope="col">Action</th> -->
                                            </tr>
                                        </thead>
                                        <tbody class="files-list">
                                            <tr *ngFor="let data of documents; let i = index">
                                                <!-- <th scope="row">
                                                    <div class="d-flex align-items-center">
                                                        <div>
                                                            <a href="{{APIURL}}{{data.documentUrl}}" target="_blank"
                                                                title="{{data.name}}" data-bs-toggle="offcanvas"
                                                                data-bs-target="#offcanvasRight"
                                                                aria-controls="offcanvasRight">
                                                                {{data.documentType}}

                                                            </a>
                                                        </div>
                                                    </div>
                                                </th> -->
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <div>
                                                            <a href="{{APIURL}}{{data.documentUrl}}" target="_blank"
                                                                title="{{data.name}}" data-bs-toggle="offcanvas"
                                                                data-bs-target="#offcanvasRight"
                                                                aria-controls="offcanvasRight">

                                                                <span *ngIf="data.name.length > 50">{{data.name |
                                                                    slice:0:15}}
                                                                    ...</span>
                                                                <span *ngIf="data.name.length <=50">{{data.name}}</span>

                                                            </a>
                                                        </div>
                                                    </div>

                                                </td>
                                                <td>{{data.createAt | date:'MM-dd-yyyy'}}</td>
                                                <td>
                                                    <a href="javascript:void(0);"
                                                        (click)="DeleteDocumentConfPopup(data.uploadDocumentId)">Delete</a>
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End:: row-1 -->


<ng-template #documentModelPopUp let-modal>
    <div class="modal-header">
        <h6 class="modal-title">Upload New Document</h6>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeDocumentPopup()"></button>
    </div>
    <div class="modal-body px-4">
        <div class="row">
            <div class="col-xl-6 mb-2">
                <label for="fromMail" class="form-label">Document Type </label>
                <ng-select placeholder="Document Type" [(ngModel)]="documentTypeId" data-trigger name="invoice-currency"
                    id="invoice-currency">
                    <ng-option *ngFor="let item of documentTypesList; let i = index"
                        value="{{item.documentId}}">{{item.documentType}}</ng-option>
                </ng-select>
            </div>
            <div class="col-xl-6 mb-2">
                <label for="toMail" class="form-label">Choose File</label>
                <input type="file" #fileInput>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary">
            Upload
            <span role="status" aria-hidden="true" class="spinner-border spinner-border-sm align-middle"
                *ngIf="showLoader"></span>
        </button>
    </div>
</ng-template>

<ng-template #deleteDocumentConfPopUp let-offcanvas let-modal>
    <div class="modal-body">
        <div class="card bg-white border-0">
            <div class="alert custom-alert1 alert-warning">
                <!-- <button Closetoggle('C')" [attr.aria-expanded]="!isClosedC" type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label="Close"><i class="bi bi-x"></i></button> -->
                <div class="text-center px-5 pb-0 svg-warning">
                    <svg class="custom-alert-icon" xmlns="http://www.w3.org/2000/svg" height="1.5rem"
                        viewBox="0 0 24 24" width="1.5rem" fill="#000000">
                        <path d="M0 0h24v24H0z" fill="none" />
                        <path d="M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z" />
                    </svg>
                    <h5>Warning</h5>
                    <p class="">You are about to delete ?</p>
                    <div class="">
                        <button class="btn btn-sm btn-primary m-1" data-bs-dismiss="modal"
                            aria-label="Close">Back</button>
                        <button class="btn btn-sm btn-warning m-1">
                            Continue
                            <span role="status" aria-hidden="true" class="spinner-border spinner-border-sm align-middle"
                                *ngIf="showLoader"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>