<div class="container my-4">
  <h2 class="mb-3 medium">VO Service Requests</h2>

  <!-- Loader -->
  <div *ngIf="showLoader" class="backdrop-loader">
    <div class="spinner-border text-light" role="status"></div>
    <p class="text-light mt-2">Loading services...</p>
  </div>
 <a href="javascript:;" (click)="generateReport()" class="btn">Export Data</a>

  <!-- Error -->
  <!-- <div *ngIf="error" class="alert alert-danger">
    {{ error }}
  </div> -->

  <!-- Table -->
  <div class="table-responsive" *ngIf="services.length > 0 && !showLoader">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <!-- <th>#</th> -->
          <!-- <th>Service ID</th> -->
          <th>Service Name</th>
          <th>User Name</th>
          <th>Package</th>
          <th>Status</th>
          <th>Payment Status</th>
          <th>Created At</th>
          <th class="text-end">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of services;let i = index">
          <!-- <td>{{ i + 1 }}</td> -->
          <!-- <td>{{ s.serviceId }}</td> -->
          <td>{{ s.serviceName }}</td>
          <td>{{ s.userName }}</td>
          <td>{{ s.packageName || "N/A" }}</td>
          <td>{{ s.status }}</td>
          <td>{{ s.paymentStatus }}</td>
          <td>{{ s.createdAt | date : "dd-MM-yyyy" }}</td>
          <td class="text-end">
            <button class="btn" (click)="viewDetails(s.id)">
              View Details
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- No Data -->
  <div *ngIf="!services.length && !showLoader" class="text-center text-muted">
    No service requests found.
  </div>
</div>
