<div class="multi-step-container">
  <div class="form-card">
    <!-- Step Indicator -->
    <div class="step-indicator">
      <div class="step-indicator-inner">

        <div class="step-circle" (click)="GoToStep(1)" style="cursor: pointer;"
          [ngClass]="step == 1 ? 'active' : 'inactive'" id="step-1">1</div>
          <h6 class="step-form-title" *ngIf="step == 1"> Personal Data </h6>

        <div class="step-connector incomplete" id="connector-1"></div>

        <div class="step-circle" (click)="GoToStep(2)" style="cursor: pointer;"
          [ngClass]="step == 2 ? 'active' : 'inactive'" id="step-2">2</div>
          <h6 class="step-form-title" *ngIf="step == 2">  Email Verification </h6>

      </div>
    </div>


    <!-- Form Content -->

    <div class="form-content">
      <!-- Step 1: Personal Data -->
      <div id="step-1-content" class="step-content" *ngIf="step == 1">
         <div class=" form-field">
          <div class="input-group ">
            <span class="input-group-text label-group"><label for="fullName" class="form-label mb-0 ">Full Name</label></span>
            <input  type="text" id="fullName" [(ngModel)]="registerUserVM.FullName"
               class="form-control form-input custom-input"  placeholder="Enter your Full" />
            <span class="input-group-text icon-group"> 
              <ng-container *ngIf="registerUserVM.FullName; else empty">
                <i class="bi bi-check-lg"></i>
              </ng-container>
              <ng-template #empty></ng-template>
            </span>
            </div>
            <div id="email-error" class="error-message"></div>
        </div>

        <div class=" form-field">
          <div class="input-group ">
            <span class="input-group-text label-group"><label for="country"  class="form-label mb-0 ">Country of Residence</label></span>
             <select class="form-select  custom-input  custom-select" [(ngModel)]="registerUserVM.CountryId" id="country" name="country" required>
               <option *ngFor="let item of countryList" [value]="item.id" style="color: black;">{{item.name}}
              </option>
             </select>
            <span class="input-group-text icon-group"> 
              <ng-container *ngIf="registerUserVM.CountryId; else empty">
                <!-- <i class="bi bi-check-lg"></i> -->
              </ng-container>
              <ng-template #empty></ng-template>
            </span>
            </div>
            <div id="email-error" class="error-message"></div>
        </div>

          <div class="form-field">
          <div class="input-group ">
            <span class="input-group-text label-group"><label for="dateOfBirth" class="form-label mb-0 ">Date of Birth</label></span>
            <input type="date" id="dateOfBirth"  [(ngModel)]="registerUserVM.DateOfBirth"
               class="form-control form-input custom-input"   placeholder="Enter your Date of Birth"/>
            <span class="input-group-text icon-group"> 
              <ng-container *ngIf="registerUserVM.DateOfBirth; else empty">
                <i class="bi bi-check-lg"></i>
              </ng-container>
              <ng-template #empty></ng-template>
            </span>
          </div>
          <div id="email-error" class="error-message"></div>
        </div>

        <div class="form-field">
          <div class="input-group ">
            <span class="input-group-text label-group"><label for="Mobile Number" class="form-label mb-0 ">Mobile Number</label></span>
            <input type="text" id="Mobile Number" [(ngModel)]="registerUserVM.MobileNumber"
               class="form-control form-input custom-input"    placeholder="Enter your Mobile Number"/>
            <span class="input-group-text icon-group"> 
              <ng-container *ngIf="registerUserVM.MobileNumber; else empty">
                <i class="bi bi-check-lg"></i>
              </ng-container>
              <ng-template #empty></ng-template>
            </span>
            </div>
            <div id="email-error" class="error-message"></div>
        </div>

        <div class="form-field">
          <div class="input-group ">
            <span class="input-group-text label-group"><label for="email" class="form-label mb-0 ">Email </label></span>
            <input type="email" id="email"[(ngModel)]="registerUserVM.EmailAddress"
            placeholder="Enter your Email" class="form-control form-input custom-input"  />
            <span class="input-group-text icon-group"> 
              <ng-container *ngIf="registerUserVM.EmailAddress; else empty">
                <i class="bi bi-check-lg"></i>
              </ng-container>
              <ng-template #empty></ng-template>
            </span>
            </div>
            <div id="email-error" class="error-message"></div>
        </div>


         <div class="form-field">
          <div class="input-group ">
            <span class="input-group-text label-group"><label for="linkedin" class="form-label mb-0 ">LinkedIn Profile </label></span>
              <input type="email" id="linkedin" [(ngModel)]="registerUserVM.LinkedInProfileLink"
                placeholder="LinkedIn Profile" class="form-control form-input custom-input"  />
              <span class="input-group-text icon-group"> 
                <ng-container *ngIf="registerUserVM.LinkedInProfileLink; else empty">
                  <i class="bi bi-check-lg"></i>
                </ng-container>
                <ng-template #empty></ng-template>
              </span>
          </div>
           <div id="email-error" class="error-message"></div>
        </div>
      </div>

      <!-- Step 3: Email Verification -->
      <div id="step-2-content" class="step-content" *ngIf="step == 2">
        <div class="form-field">
          <div class="otp-inputs">
            <input type="text" [(ngModel)]="emailOTP1" maxlength="1" class="otp-box" required>
            <input type="text" [(ngModel)]="emailOTP2" maxlength="1" class="otp-box" required>
            <input type="text" [(ngModel)]="emailOTP3" maxlength="1" class="otp-box" required>
            <input type="text" [(ngModel)]="emailOTP4" maxlength="1" class="otp-box" required>
            <input type="text" [(ngModel)]="emailOTP5" maxlength="1" class="otp-box" required>
            <input type="text" [(ngModel)]="emailOTP6" maxlength="1" class="otp-box" required>

          </div>
        </div>

      </div>

    </div>

    <!-- Navigation Buttons -->
    <div class="form-navigation">
      <button type="button" id="previous-btn" class="nav-button previous-button" [disabled]="step <= 1"
        (click)="GoToPrevious()">
        <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
          <path d="m15 18-6-6 6-6" />
        </svg>
        Previous
      </button>

      <button type="button" id="next-btn"  *ngIf="step <= 1" class="nav-button next-button" (click)="GoToNext()"
        [disabled]="step >= lastStep">
        Next
        <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
          <path d="m9 18 6-6-6-6" />
        </svg>
       <span role="status" aria-hidden="true" class="spinner-border spinner-border-sm align-middle" *ngIf="step ==1 && showLoader"></span>

      </button>

      <button type="button" id="next-btn" *ngIf="step == 2" class="nav-button next-button" (click)="SubmitRegistration()">
        
        Submit
        <span role="status" aria-hidden="true" class="spinner-border spinner-border-sm align-middle" *ngIf="showLoader"></span>

      </button>
    </div>


    <!-- Footer -->
    <div class="form-footer">
      <p class="footer-text">
        Already have an account?
        <a href="/auth/login" class="footer-link">Sign in</a>

      </p>
      <p class="footer-text">
        Go To Home
        <a href="/home" class="footer-link">Home</a>
      </p>
    </div>
  </div>
</div>