<div id="div"
    class="my-4 page-header-breadcrumb single-page-header d-flex align-items-center justify-content-between flex-wrap gap-2">
    <div>
        <div>
            <h1 class="page-title medium fs-18 mb-2">Search</h1>

        </div>
        <a href="javascript:;" (click)="generateReport()" class="btn  btn-sm btn-rounded pl-2 pr-3">Export
            Data</a>


    </div>
    <div>
        <!-- <button class="btn btn-primary-light btn-wave me-2 waves-effect waves-light" (click)="AddRequestPopup()">
            <i class="las la-edit align-middle"></i> Add New Request
        </button> -->
        <!-- <button class="btn btn-secondary-light btn-wave me-0 waves-effect waves-light">
            <i class="ri-upload-cloud-line align-middle"></i> Export Report
        </button> -->
    </div>
</div>
<!-- End::page-header -->

<!-- Start::row-1 -->
<div class="row">
    <div class="col-xl-12">
        <div class="card custom-card">
            <div class="card-header justify-content-between">
                <div>
                    <!-- <input class="form-control" type="text" placeholder="Search Here"
                        aria-label=".form-control-sm example"> -->
                </div>
                <div class="d-flex flex-wrap gap-2">
                    <div ngbDropdown class="dropdown">
                        <a ngbDropdownToggle href="javascript:void(0);" class="btn btn-light btn-wave no-caret"
                            data-bs-toggle="dropdown" aria-expanded="false"> Sort By<i
                                class="ri-arrow-down-s-line align-middle ms-1 d-inline-block"></i>
                        </a>
                        <ul ngbDropdownMenu class="dropdown-menu" role="menu">
                            <li><a class="dropdown-item" href="javascript:void(0);">New</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Popular</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Relevant</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body p-0 position-relative" id="todo-content">
                <div>
                    <div class="table-responsive">
                        <table class="table text-nowrap">
                            <thead>
                                <tr>

                                    <!-- <th class="todolist-handle-drag">
                                    </th> -->
                                    <th scope="col">Startup Name</th>
                                    <th scope="col">Current Stage</th>
                                    <th scope="col">Team Size</th>
                                    <th scope="col">Availability</th>
                                    <th scope="col">Created At</th>
                                    <th scope="col" class="text-end">Action</th>
                                </tr>
                            </thead>
                            <tbody id="todo-drag">
                                <tr class="todo-box" *ngFor="let row of preAcceleratorList">

                                    <td>
                                        <span class="medium">{{row.startupName}}</span>
                                    </td>
                                    <td>
                                        {{row.currentStage}}
                                    </td>
                                    <td>
                                        {{row.teamSize}}
                                    </td>
                                    <td>
                                        {{row.availability}}

                                    </td>
                                    <td>
                                        {{row.createAt | date: 'dd-MM-yyyy'}}
                                    </td>
                                    <td class="text-end">
                                        <a class="btn btn-primary-light btn-wave me-2 waves-effect waves-light"
                                            href="javascript:void(0);"
                                            [routerLink]="['/preac-service-overview', row.id]"
                                            [queryParams]="{id: row.id, serv:row.serviceId}"><i
                                                class="fe fe-eye me-2"></i>View</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--End::row-1 -->