<div
  class="my-4 page-header-breadcrumb single-page-header d-flex align-items-center justify-content-between flex-wrap gap-2">
  <div>
    <button class="btn btn-primary-light btn-wave me-2 waves-effect waves-light" id="btnNavigateBack"
      [routerLink]="['../admin']">
      <i class="bi bi-arrow-left-circle align-middle"></i> Back
    </button>
  </div>

</div>


<div class="row">
  <div class="col-xl-12">
    <div class="card custom-card">
      <div class="card-header justify-content-between">
        <div class="card-title">
          Workshop
        </div>
        <div class="d-flex flex-wrap gap-2">
          <div>
            <!-- <input class="form-control form-control-sm" placeholder="Type to filter the name column..." type="search"
              (keyup)="updateFilter($event)" aria-label=".form-control-sm example"> -->
          </div>
          <div ngbDropdown class="dropdown">

            <div *ngIf="user.jobTitle == 'Administrator' || user.jobTitle == 'Super Administrator'"
              class="ml-auto margin-5px" (click)="AddWorkshopPopUp()">
              <a href="javascript:;" class="btn btn-success btn-sm btn-rounded pl-2 pr-3"><i
                  class="fa fa-plus mr-1"></i> Add New</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body p-0">
        <div class="table-responsive">
          <table class="table text-nowrap">
            <thead>
              <tr>
                <th scope="col">Workshop Name</th>
                <th scope="col">Email Address</th>
                <th scope="col">Registration Number</th>
                <th scope="col">Vat Number</th>
                <th scope="col">Currency Name</th>
                <th scope="col">Country Name</th>
                <th scope="col">View User</th>
                <th scope="col" *ngIf="user.jobTitle == 'Administrator' || user.jobTitle == 'Super Administrator'">Edit
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of workshops">
                <td>{{item.workshopName}}</td>
                <td>{{item.emailAddress}}</td>
                <td>{{item.registrationNumber}}</td>
                <td>{{item.vatNumber}}</td>
                <td>{{item.currencyName}}</td>
                <td>{{item.countryName}}</td>
                <td class="text-center">
                  <a href="javascript:void(0);"
                    (click)="GetUserByWorkshopId(item.workshopId, item.workshopName)">View</a>
                </td>
                <td *ngIf="user.jobTitle == 'Administrator' || user.jobTitle == 'Super Administrator'">
                  <button class="btn btn-sm btn-icon btn-secondary-light btn-wave" (click)="EditWorkshop(item)">
                    <i class="ri-edit-line"></i>
                  </button>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer">
        <!-- <div class="d-flex align-items-center">
          <div> Showing 6 Entries <i class="bi bi-arrow-right ms-2 fw-semibold"></i> </div>
          <div class="ms-auto">
            <nav aria-label="Page navigation" class="pagination-style-4">
              <ul class="pagination mb-0">
                <li class="page-item disabled"> <a class="page-link" href="javascript:void(0);"> Prev </a> </li>
                <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                <li class="page-item"> <a class="page-link text-primary" href="javascript:void(0);"> next </a> </li>
              </ul>
            </nav>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>

<ng-template #modalAddWorkshopPopUp let-c="close" let-d="dismiss" class="modal-xl">
  <div class="modal-header">
    <h5 class="modal-title">Add Update Workshop</h5>
  </div>
  <div class="card-body">

    <div class="panel panel-primary">
      <div class=" tab-menu-heading">
        <div class="tabs-menu1">
          <!-- Tabs -->
          <ul ngbNav #nav="ngbNav" [activeId]="1" class="panel-tabs">
            <li [ngbNavItem]="1" id="workshopTab">
              <a ngbNavLink (click)="showTab('workshopTab')">Workshop</a>
              <ng-template ngbNavContent>
                <div class="tab-pane">
                  <div class="tab-pane fade" [ngClass]="{ 'active show': tabs.workshopTab }">

                    <div class="row mb-3">
                      <div class="col-md-6">
                        <div class="form-group text-start">
                          <label>Workshop Name <span class="text-danger">*</span></label>
                          <input matInput [(ngModel)]="workshop.workshopName" class="form-control"
                            placeholder="Enter your Workshop Name" type="text" required #workshopNameInput="ngModel">
                          <div *ngIf="workshopNameInput.invalid && workshopNameInput.touched">
                            <span class="text-danger"> Workshop Name is required. </span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group text-start">
                          <label>Vat Number <span class="text-danger">*</span></label>
                          <input matInput [(ngModel)]="workshop.vatNumber" class="form-control"
                            placeholder="Enter your Vat Number" type="text" required #vatNumberInput="ngModel">
                          <div *ngIf="vatNumberInput.invalid && vatNumberInput.touched">
                            <span class="text-danger">Vat Number is required.</span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <div class="col-md-6">
                        <div class="form-group text-start">
                          <label>Registration Number <span class="text-danger">*</span></label>
                          <input matInput [(ngModel)]="workshop.registrationNumber" class="form-control"
                            placeholder="Enter your Registration Number" type="text" required
                            #registrationNumberInput="ngModel">
                          <div *ngIf="registrationNumberInput.invalid && registrationNumberInput.touched">
                            <span class="text-danger">Registration Number is required.</span>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group text-start">
                          <label>Abbreviation <span class="text-danger">*</span></label>
                          <input matInput [(ngModel)]="workshop.abbreviation" class="form-control"
                            placeholder="Enter your Abbreviation" type="text" required #abbreviationInput="ngModel">
                          <div *ngIf="abbreviationInput.invalid && abbreviationInput.touched">
                            <span class="text-danger">Abbreviation is required.</span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row mb-3">

                      <div class="col-md-6">
                        <div class="form-group text-start">
                          <label>Country <span class="text-danger">*</span></label>
                          <select class="form-control col-md-12" [(ngModel)]="workshop.countryId" id="countryId"
                            name="countryId" required #countryIdSelect="ngModel">
                            <option *ngFor="let item of country" [value]="item.id">{{item.countryName}}
                            </option>
                          </select>
                          <div *ngIf="countryIdSelect.invalid && countryIdSelect.touched">
                            <span class="text-danger">Country selection is required.</span>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group text-start">
                          <label>Currency <span class="text-danger">*</span></label>
                          <select class="form-control col-md-12" [(ngModel)]="workshop.currencyId" id="currencyId"
                            name="currencyId" required #currencyIdSelect="ngModel">
                            <option *ngFor="let item of currency" [value]="item.currencyId">{{item.currencyName}}
                            </option>
                          </select>
                          <div *ngIf="currencyIdSelect.invalid && currencyIdSelect.touched">
                            <span class="text-danger">Currency selection is required.</span>
                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="row mb-3">
                      <div class="col-md-6">
                        <div class="form-group text-start">
                          <label>Telephone Number <span class="text-danger">*</span></label>
                          <input matInput [(ngModel)]="workshop.telephoneNumber" class="form-control"
                            placeholder="Enter your Telephone Number" type="text" required
                            #telephoneNumberInput="ngModel">
                          <div *ngIf="telephoneNumberInput.invalid && telephoneNumberInput.touched">
                            <span class="text-danger">Telephone Number is required.</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group text-start">
                          <label>Fax Number <span class="text-danger">*</span></label>
                          <input matInput [(ngModel)]="workshop.faxNumber" class="form-control"
                            placeholder="Enter your Fax Number" type="text" required #faxNumberInput="ngModel">
                          <div *ngIf="faxNumberInput.invalid && faxNumberInput.touched">
                            <span class="text-danger">Fax Number is required. </span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <div class="col-md-6">
                        <div class="form-group text-start">
                          <label>Email Address <span class="text-danger">*</span></label>
                          <input matInput [(ngModel)]="workshop.emailAddress" class="form-control"
                            placeholder="Enter your Email Address" type="text" required #emailAddressInput="ngModel">
                          <div *ngIf="emailAddressInput.invalid && emailAddressInput.touched">
                            <span class="text-danger">Email Address is required.</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group text-start">
                          <label>Address Number <span class="text-danger">*</span></label>
                          <input matInput [(ngModel)]="workshop.addressNumber" class="form-control"
                            placeholder="Enter your Address Number" type="text" required #addressNumberInput="ngModel">
                          <div *ngIf="addressNumberInput.invalid && addressNumberInput.touched">
                            <span class="text-danger">Address Number is required. </span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <div class="col-md-6">
                        <div class="form-group text-start">
                          <label>Address Name <span class="text-danger">*</span></label>
                          <input matInput [(ngModel)]="workshop.addressName" class="form-control"
                            placeholder="Enter your Address Name" type="text" required #addressNameInput="ngModel">
                          <div *ngIf="addressNameInput.invalid && addressNameInput.touched">
                            <span class="text-danger">Address Name is required.</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group text-start">
                          <label>Postal Address Line 1 <span class="text-danger">*</span></label>
                          <input matInput [(ngModel)]="workshop.postalAddressLine1" class="form-control"
                            placeholder="Enter your Address Number" type="text" required
                            #postalAddressLine1Input="ngModel">
                          <div *ngIf="postalAddressLine1Input.invalid && postalAddressLine1Input.touched">
                            <span class="text-danger">Postal Address is required. </span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <div class="col-md-6">
                        <div class="form-group text-start">
                          <label>Address Code <span class="text-danger">*</span></label>
                          <input matInput [(ngModel)]="workshop.addressCode" class="form-control"
                            placeholder="Enter your Address Code" type="text" required #addressCodeInput="ngModel">
                          <div *ngIf="addressCodeInput.invalid && addressCodeInput.touched">
                            <span class="text-danger">Address Code is required.</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group text-start">
                          <label>Postal Code <span class="text-danger">*</span></label>
                          <input matInput [(ngModel)]="workshop.postalCode" class="form-control"
                            placeholder="Enter your Postal Code" type="text" required #postalCodeInput="ngModel">
                          <div *ngIf="postalCodeInput.invalid && postalCodeInput.touched">
                            <span class="text-danger">Postal Code is required. </span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <div class="col-md-6">
                        <div class="form-group text-start">
                          <label>Street Address <span class="text-danger">*</span></label>
                          <input matInput [(ngModel)]="workshop.streetAddress" class="form-control"
                            placeholder="Enter your Street Address" type="text" required #streetAddressInput="ngModel">
                          <div *ngIf="streetAddressInput.invalid && streetAddressInput.touched">
                            <span class="text-danger">Street Address is required.</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group text-start">
                          <label>Suburb Address <span class="text-danger">*</span></label>
                          <input matInput [(ngModel)]="workshop.suburbAddress" class="form-control"
                            placeholder="Enter your Suburb Address" type="text" required #suburbAddressInput="ngModel">
                          <div *ngIf="suburbAddressInput.invalid && suburbAddressInput.touched">
                            <span class="text-danger">Suburb Address is required. </span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <div class="col-md-6">
                        <div class="form-group text-start">
                          <label>City Address <span class="text-danger">*</span></label>
                          <input matInput [(ngModel)]="workshop.cityAddress" class="form-control"
                            placeholder="Enter your password" type="text" required #cityAddressInput="ngModel">
                          <div *ngIf="cityAddressInput.invalid && cityAddressInput.touched">
                            <span class="text-danger">City Address is required.</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group text-start">
                          <label>BAMS code <span class="text-danger">*</span></label>
                          <input matInput [(ngModel)]="workshop.bamsWorkshopCode" class="form-control"
                            placeholder="Enter your BAMS Code" type="text" required #confirmPasswordInput="ngModel">
                          <div *ngIf="confirmPasswordInput.invalid && confirmPasswordInput.touched">
                            <span class="text-danger">BAMS Code is required. </span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <div class="col-md-6">
                        <div class="form-group text-start">
                          <label>BAMS Password <span class="text-danger">*</span></label>
                          <input matInput [(ngModel)]="workshop.bamsPassword" class="form-control"
                            placeholder="Enter your BAMS Password" type="text" required #bamsPasswordInput="ngModel">
                          <div *ngIf="bamsPasswordInput.invalid && bamsPasswordInput.touched">
                            <span class="text-danger">BAMS Password is required.</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group text-start">
                          <label>SMS User Name <span class="text-danger">*</span></label>
                          <input matInput [(ngModel)]="workshop.smsUserName" class="form-control"
                            placeholder="Enter your SMS User Name" type="text" required #smsUserNameInput="ngModel">
                          <div *ngIf="smsUserNameInput.invalid && smsUserNameInput.touched">
                            <span class="text-danger">SMS User Name is required. </span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <div class="col-md-6">
                        <div class="form-group text-start">
                          <label>SMS Key <span class="text-danger">*</span></label>
                          <input matInput [(ngModel)]="workshop.smsKey" class="form-control"
                            placeholder="Enter your SMS Key" type="text" required #smsKeyInput="ngModel">
                          <div *ngIf="smsKeyInput.invalid && smsKeyInput.touched">
                            <span class="text-danger">SMS Key is required.</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group text-start">
                          <label>Auto MxId</label>
                          <input matInput [(ngModel)]="workshop.autoMxId" class="form-control"
                            placeholder="Enter your AutoMxId" type="text">
                        </div>
                      </div>
                    </div>

                    

                    <div class="row mb-3">
                      <div class="col-md-6">
                        <div class="form-group text-start">
                          <label>Vat Percentage <span class="text-danger">*</span></label>
                          <input matInput [(ngModel)]="workshop.vatPercentage" class="form-control"
                            placeholder="Enter your Vat Percentage" type="text" required #vatPercentageInput="ngModel">
                          <div *ngIf="vatPercentageInput.invalid && vatPercentageInput.touched">
                            <span class="text-danger">Vat Percentage is required. </span>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6"  *ngIf="user.jobTitle == 'Super Administrator'">
                        <div class="form-group text-start">
                          <label> Azure Contener Name <span class="text-danger">*</span></label>
                          <input type="text" class="form-control form-control-sm" id="azContainerName"
                            [(ngModel)]="workshop.azContainerName" name="azContainerName" />
                        </div>
                      </div>

                      <div class="col-md-6 mt-3">
                        <div class="form-group text-start">
                          <label>Allow Discount On Invoice</label>
                          <div class="row pt-2 gx-0">
                            <div class="col-sm-6 col-6">
                              <div class="form-check switch-select"><label for="AllowDiscountOnInvoice"
                                  class="form-check-label"> Yes
                                </label>
                                <input [(ngModel)]="workshop.allowDiscountOnInvoice" [value]="true" type="radio"
                                  name="AllowDiscountOnInvoice" id="AllowDiscountOnInvoice" class="form-check-input">
                              </div>
                            </div>
                            <div class="col-sm-6 col-6">
                              <div class="form-check switch-select"><label for="AllowDiscountOnInvoice"
                                  class="form-check-label"> No
                                </label>
                                <input [(ngModel)]="workshop.allowDiscountOnInvoice" [value]="false" type="radio"
                                  name="AllowDiscountOnInvoice" id="AllowDiscountOnInvoice" class="form-check-input">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row  mb-3">
                      <div class="col-md-6">
                        <div class="form-group text-start">
                          <label>Allow Status To Be Assigned</label>
                          <div class="row pt-2 gx-0">
                            <div class="col-sm-6 col-6">
                              <div class="form-check switch-select"><label for="AllowStatusToBeAssignedToMultipleUsers"
                                  class="form-check-label"> Yes
                                </label>
                                <input [(ngModel)]="workshop.allowStatusToBeAssignedToMultipleUsers" [value]="true" type="radio"
                                  name="AllowStatusToBeAssignedToMultipleUsers" id="AllowStatusToBeAssignedToMultipleUsers" class="form-check-input">
                              </div>
                            </div>
                            <div class="col-sm-6 col-6">
                              <div class="form-check switch-select"><label for="AllowStatusToBeAssignedToMultipleUsers"
                                  class="form-check-label"> No
                                </label>
                                <input [(ngModel)]="workshop.allowStatusToBeAssignedToMultipleUsers" [value]="false" type="radio"
                                  name="AllowStatusToBeAssignedToMultipleUsers" id="AllowStatusToBeAssignedToMultipleUsers" class="form-check-input">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group text-start">
                          <label>Allow Discount On Quotation</label>
                          <div class="row pt-2 gx-0">
                            <div class="col-sm-6 col-6">
                              <div class="form-check switch-select"><label for="AllowDiscountOnQuotation"
                                  class="form-check-label"> Yes </label>
                                <input [(ngModel)]="workshop.allowDiscountOnQuotation" [value]="true" type="radio"
                                  name="AllowDiscountOnQuotation" id="AllowDiscountOnQuotation" class="form-check-input">
                              </div>
                            </div>
                            <div class="col-sm-6 col-6">
                              <div class="form-check switch-select"><label for="AllowDiscountOnQuotation"
                                  class="form-check-label"> No </label>
                                <input [(ngModel)]="workshop.allowDiscountOnQuotation" [value]="false" type="radio"
                                  name="AllowDiscountOnQuotation" id="AllowDiscountOnQuotation" class="form-check-input">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <div class="col-md-6">
                        <div class="form-group input-group-sm row">
                          <label for="vatNumber" class="col-md-4 col-form-label addClaimFont">Logo</label>
                          <div class="col-md-8">
                            <img src="{{workshop.workshopLogo}}" style="max-height: 50%;max-width: 50%;"
                              *ngIf="workshop.workshopLogo != null && workshop.workshopLogo != undefined && undefined != ''">
                            <img src="../../../../../assets/img/NIS.png" style="height:95px;width:94px"
                              *ngIf="workshop.workshopLogo == null || workshop.workshopLogo == undefined || undefined == ''">
                            <br>
                            <input #fileUpload type="file" (click)="fileUpload.value"
                              (change)="importWorkshopImageFile($event)" style="display:none" accept="image/*">
                            <a href="javascript:;" (click)="fileUpload.click()">change</a>
                            <br>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="modal-footer">
                      <div class="row">
                        <div class="col-md-6">
                          <button class="btn ripple btn-primary btn-block" (click)="Next()">Next</button>
                          <!-- <button class="btn ripple btn-primary btn-block" *ngIf="workshopId != 0"
                            (click)="UpdateWorkshop()">Update</button> -->
                        </div>
                        <div class="col-md-6">
                          <button class="btn btn-white" (click)="c('Close click')">Cancel</button>
                        </div>
                      </div>
                    </div>

                  </div>


                </div>
              </ng-template>
            </li>
            <li [ngbNavItem]="2" id="bankDetailsTab">
              <a ngbNavLink id="bankDetailsTab" (click)="showTab('bankDetailsTab')">Bank Details</a>
              <ng-template ngbNavContent>
                <div class="tab-pane">
                  <div class="tab-pane fade" [ngClass]="{ 'active show': tabs.bankDetailsTab }">

                    <div class="col-m-12 mb-3">
                      <div class="form-group text-start">
                        <label> Bank Name <span class="text-danger">*</span></label>
                        <input type="text" class="form-control form-control-sm"
                          [(ngModel)]="workshopBankAccounts.bankName" id="bankName" name="bankName" />
                      </div>
                    </div>

                    <div class="col-m-12 mb-3">
                      <div class="form-group text-start">
                        <label> Account Number <span class="text-danger">*</span></label>
                        <input type="text" class="form-control form-control-sm" id="bankAccountNumber"
                          [(ngModel)]="workshopBankAccounts.bankAccountNumber" name="bankAccountNumber" />
                      </div>
                    </div>

                    <div class="col-m-12 mb-3">
                      <div class="form-group text-start">
                        <label> Branch Code <span class="text-danger">*</span></label>
                        <input type="text" class="form-control form-control-sm" id="bankBranchCode"
                          [(ngModel)]="workshopBankAccounts.bankBranchCode" name="bankBranchCode" />
                      </div>
                    </div>

                    <div class="col-m-12 mb-3">
                      <div class="form-group text-start">
                        <label> Account Type <span class="text-danger">*</span></label>
                        <input type="text" class="form-control form-control-sm" id="bankAccountType"
                          [(ngModel)]="workshopBankAccounts.bankAccountType" name="bankAccountType" />
                      </div>
                    </div>

                    <div class="d-flex justify-content-end bd-highlight mb-3">
                      <div class="p-2 bd-highlight">
                        <button class="btn ripple btn-primary btn-block" *ngIf="workshopId == 0"
                            (click)="RegisterWorkshop()">Submit                          
                            <span role="status" aria-hidden="true" *ngIf="showLoader" class="spinner-border spinner-border-sm align-middle"></span>
                          </button>
                          <button class="btn ripple btn-primary btn-block" *ngIf="workshopId != 0"
                            (click)="UpdateWorkshop()">Update                          
                            <span role="status" aria-hidden="true" *ngIf="showLoader" class="spinner-border spinner-border-sm align-middle"></span>
                          </button>
                      </div>
                      <div class="p-2 bd-highlight">
                        <button class="btn btn-white" (click)="c('Close click')">Cancel</button>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </li>


          </ul>
        </div>
      </div>
      <div class="panel-body tabs-menu-body">
        <div [ngbNavOutlet]="nav"></div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #modalUserPopUp let-c="close" let-d="dismiss" class="modal-md">
  <div class="modal-header">
    <h6 class="modal-title">{{workshopName}} - Workshop User</h6>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-12 col-sm-12">
        <div class="card">
          <div class="card-header">
            <!-- <h4 class="card-title">Product Summary</h4> -->
          </div>
          <div class="card-body p-0">
            <div class="table-responsive">
              <table class="table text-nowrap">
                <thead>
                  <tr>
                    <th class="text-center">First Names</th>
                    <th>Last Name</th>
                    <th>Email Address</th>
                    <th>Mobile Number</th>
                    <th>Name</th>
                    <th>Job Title</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of workshopUserList">
                    <td class="text-center">{{item.firstNames}}</td>
                    <td>{{item.lastName}}</td>
                    <td>{{item.emailAddress}}</td>
                    <td>{{item.mobileNumber}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.jobTitle}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="modal-footer">
    <button class="btn btn-white" (click)="c('Close click')">Cancel</button>
  </div>
</ng-template>
