<!-- Foreigner Entrepreneur Overview Page -->
<div class="row" style="padding-top: 4px;">
    <div class="container">
        <div class="col-xl-8">
            <div class="card custom-card">
                <div class="card-body p-4">
                    <div class="d-flex align-items-start gap-3">
                        <div class="main-card-icon primary p-0">
                            <div class="avatar avatar-lg bg-primary-transparent border border-primary border-opacity-10">
                                <div class="avatar avatar-sm svg-white">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="flex-fill">
                            <div class="mb-1"></div>
                            <div class="text-muted fs-12 d-flex align-items-center justify-content-between flex-wrap gap-1">
                                <span class="text-dark fw-medium h7 mb-0 lh-1 vertical-bottom flex-grow-1">
                                    Foreigner Name : <label>{{serviceRequestDetails.userRegisterModel.fullName}}</label>
                                </span>
                                <a href="javascript:void(0)" class="fw-semibold">
                                    <!-- Statuses can be added here -->
                                    Current Status : <label class="text-primary">{{serviceRequestDetails.foreignerStatus.statusName}}</label>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
        
          <!-- Start::row-1 -->
        <div class="col-xl-4">
            <div class="card custom-card overflow-hidden" style="height: 105px;">

                <div class="card-body" *ngIf="roleId == 10">

                    <!-- Approve (status 1, 4, 5) -->
                    <button *ngIf="serviceRequestDetails.requestModel.statusId == 1 || serviceRequestDetails.requestModel.statusId == 4 || serviceRequestDetails.requestModel.statusId == 5 " (click)="Approve()"
                        class="btn btn-primary-light btn-wave me-2 waves-effect waves-light">
                        <i class="align-middle"></i> Approve
                    </button>
                    <!-- Reject (status 1) -->
                    <button *ngIf="serviceRequestDetails.requestModel.statusId == 1" (click)="RejectMethodPopUp()"
                        class="btn btn-primary-light btn-wave me-2 waves-effect waves-light">
                        <i class="align-middle"></i> Reject
                    </button>
                    <!-- Document Missing (status 1) -->
                    <button *ngIf="serviceRequestDetails.requestModel.statusId == 1" (click)="DocumentMissingPopUp()"
                        class="btn btn-primary-light btn-wave me-2 waves-effect waves-light">
                        <i class="align-middle"></i> Missing Information
                    </button>
                    <!-- Pitch Complete (status 6) -->
                    <button *ngIf="serviceRequestDetails.requestModel.statusId == 6"
                        (click)="PitchCompleteMethodPopUp()"
                        class="btn btn-primary-light btn-wave me-2 waves-effect waves-light">
                        <i class="align-middle"></i> Pitch Complete
                    </button>
                    <!-- Plan Approved (status 7) -->
                    <button *ngIf="serviceRequestDetails.requestModel.statusId == 7" (click)="PlanApproved()"
                        class="btn btn-primary-light btn-wave me-2 waves-effect waves-light">
                        <i class="align-middle"></i> Plan Approved
                    </button>
                    <!-- Plan Rejected (status 7) -->
                    <button *ngIf="serviceRequestDetails.requestModel.statusId == 7" (click)="PlanRejectedPopUp()"
                        class="btn btn-primary-light btn-wave me-2 waves-effect waves-light">
                        <i class="align-middle"></i> Plan Rejected
                    </button>
                    <!-- Send Proposal (status 8) -->
                    <button *ngIf="serviceRequestDetails.requestModel.statusId == 8" (click)="SendProposalMethodPopUp()"
                        class="btn btn-primary-light btn-wave me-2 waves-effect waves-light">
                        <i class="align-middle"></i> Send Proposal
                    </button>
                    <!-- Send Contract (status 11) -->
                    <button *ngIf="serviceRequestDetails.requestModel.statusId == 11" (click)="SendContractPopUp()"
                        class="btn btn-primary-light btn-wave me-2 waves-effect waves-light">
                        <i class="align-middle"></i> Send Contract
                    </button>
                    <!-- Documents Verified (status 15) -->
                    <button *ngIf="serviceRequestDetails.requestModel.statusId == 15" (click)="DocumentVerified()"
                        class="btn btn-primary-light btn-wave me-2 waves-effect waves-light">
                        <i class="align-middle"></i> Documents Verified
                    </button>
                    <!-- Service Active (status 17) -->
                    <button *ngIf="serviceRequestDetails.requestModel.statusId == 17" (click)="serviceActivePopUp()"
                        class="btn btn-primary-light btn-wave me-2 waves-effect waves-light">
                        <i class="align-middle"></i> Service Active
                        <span *ngIf="showLoader" role="status" aria-hidden="true"
                        class="spinner-border spinner-border-sm align-middle"></span>
                    </button>

                </div>

                <div class="card-body" *ngIf="roleId == 1">


                    <!-- Document Submission (status 4) -->
                    <button *ngIf="serviceRequestDetails.requestModel.statusId == 4" (click)="DocumentSubmissionPopUp()"
                        class="btn btn-primary-light btn-wave me-2 waves-effect waves-light">
                        <i class="align-middle"></i> Missing Info Submission
                    </button>
                    <!-- Schedule Meeting (status 2, 5) -->
                    <button *ngIf="serviceRequestDetails.requestModel.statusId == 2 || serviceRequestDetails.requestModel.statusId == 5"
                        (click)="ScheduleMeetingMethodPopUp()"
                        class="btn btn-primary-light btn-wave me-2 waves-effect waves-light">
                        <i class="align-middle"></i> Schedule Meeting
                    </button>
                    <!-- Accept Proposal (status 10) -->
                    <button *ngIf="serviceRequestDetails.requestModel.statusId == 10" (click)="AcceptProposal()"
                        class="btn btn-primary-light btn-wave me-2 waves-effect waves-light">
                        <i class="align-middle"></i> Accept Proposal
                        <span *ngIf="showLoader" role="status" aria-hidden="true"
                        class="spinner-border spinner-border-sm align-middle"></span>
                    </button>
                    <!-- Reject Proposal (status 10) -->
                    <button *ngIf="serviceRequestDetails.requestModel.statusId == 10" (click)="RejectProposalPopUp()"
                        class="btn btn-primary-light btn-wave me-2 waves-effect waves-light">
                        <i class="align-middle"></i> Reject Proposal
                    </button>
                    <!-- Signed Contract (status 13) -->
                    <button *ngIf="serviceRequestDetails.requestModel.statusId == 13" (click)="SignedContractPopUp()"
                        class="btn btn-primary-light btn-wave me-2 waves-effect waves-light">
                        <i class="align-middle"></i> Signed Contract
                    </button>
                    <!-- Full Document Upload (status 14) -->
                    <button *ngIf="serviceRequestDetails.requestModel.statusId == 14" (click)="FullDocumentUploadPopUp()"
                        class="btn btn-primary-light btn-wave me-2 waves-effect waves-light">
                        <i class="align-middle"></i> Full Document upload
                    </button>
                    <!-- Payment Done (status 16) -->
                    <button *ngIf="serviceRequestDetails.requestModel.statusId == 16" (click)="PaymentDocumentUploadPopUp()"
                        class="btn btn-primary-light btn-wave me-2 waves-effect waves-light">
                        <i class="align-middle"></i> Payment Done
                    </button>

                    
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="card-body">
            <nav ngbNav #nav2="ngbNav" [activeId]="0" class="nav nav-style-3 nav-pills mb-3" role="tablist">
                <ng-container [ngbNavItem]="0">
                    <a ngbNavLink class="btn btn-primary-light btn-wave me-2 waves-effect waves-light nav-link" role="tab">Overview</a>
                    <ng-template ngbNavContent>
                        <app-service-main></app-service-main>
                    </ng-template>
                </ng-container>
                <ng-container [ngbNavItem]="1">
                    <a ngbNavLink class="nav-link" (click)="navTabChange('1')">Documents</a>
                    <ng-template ngbNavContent>
                        <div><app-service-documents></app-service-documents></div>
                    </ng-template>
                </ng-container>
                <ng-container [ngbNavItem]="2">
                    <a ngbNavLink class="nav-link" (click)="navTabChange('2')">Time Line</a>
                    <ng-template ngbNavContent>
                        <div><app-service-timeline></app-service-timeline></div>
                    </ng-template>
                </ng-container>
                <ng-container [ngbNavItem]="3">
                    <a ngbNavLink class="nav-link" (click)="navTabChange('3')">Notes</a>
                    <ng-template ngbNavContent>
                        <div><app-service-notes></app-service-notes></div>
                    </ng-template>
                </ng-container>
                <ng-container [ngbNavItem]="4">
                    <a ngbNavLink class="nav-link" (click)="navTabChange('4')">Meetings</a>
                    <ng-template ngbNavContent>
                        <div><app-service-meeting></app-service-meeting></div>
                    </ng-template>
                </ng-container>
                <ng-container [ngbNavItem]="5">
                    <a ngbNavLink class="nav-link" (click)="navTabChange('5')">Payment</a>
                    <ng-template ngbNavContent>
                        <div><app-service-payment></app-service-payment></div>
                    </ng-template>
                </ng-container>
            </nav>
            <div class="tab-content" [ngbNavOutlet]="nav2"></div>
        </div>
    </div>
</div>





<ng-template #modalRejectMethodPopUp let-c="close" let-d="dismiss" class="modal-xl">
    <div class="modal-header">
        <h6 class="modal-title">Reject Request</h6>
    </div>
    <div class="card-body padding-1rem" style="padding: 10px;">
        <div class="row mb-3">
            <div class="col-md-12  mb-3">
                <div class="form-group text-start">
                    <div class="form-group text-start">
                        <label class="mb-2"> Comment <span class="text-danger">*</span></label>

                        <textarea rows="5" name="" id="" required #methodEndInput="ngModel" matInput
                            [(ngModel)]="rejectProjectRequestModel.Comments" class="form-control" placeholder="Comment">

          </textarea>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal-footer">
        <div class="row">
            <div class="col-md-12">
                <button class="btn ripple btn-primary btn-block" (click)="Reject()">Submit
                    <span *ngIf="showLoader" role="status" aria-hidden="true"
                        class="spinner-border spinner-border-sm align-middle"></span>
                </button>
                <button class="btn btn-white" style="margin-left: 5px;" (click)="c('Close click')">Cancel</button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #modalMissingDocPopUp let-c="close" let-d="dismiss" class="modal-xl">
    <div class="modal-header">
        <h6 class="modal-title">Missing Document Request </h6>
    </div>
    <div class="card-body padding-1rem" style="padding: 10px;">
        <div class="row mb-3">
            <div class="col-md-12  mb-3">
                <div class="form-group text-start">
                    <div class="form-group text-start">
                        <label class="mb-2"> Comment <span class="text-danger">*</span></label>

                        <textarea rows="5" name="" id="" required #methodEndInput="ngModel" matInput
                            [(ngModel)]="rejectProjectRequestModel.Comments" class="form-control" placeholder="Comment">

          </textarea>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal-footer">
        <div class="row">
            <div class="col-md-12">
                <button class="btn ripple btn-primary btn-block" (click)="Reject()">Submit
                    <span *ngIf="showLoader" role="status" aria-hidden="true"
                        class="spinner-border spinner-border-sm align-middle"></span>
                </button>
                <button class="btn btn-white" style="margin-left: 5px;" (click)="c('Close click')">Cancel</button>
            </div>
        </div>
    </div>
</ng-template>





<ng-template #modalScheduleMeetingPopUp let-c="close" let-d="dismiss" class="modal-xl">
    <div class="modal-header">
        <h6 class="modal-title">Meeting Schedule</h6>
    </div>
    <div class="card-body padding-1rem" style="padding: 10px;">
<app-booking-create ></app-booking-create>
    </div>
</ng-template>


<ng-template #modalPitchCompletePopUp let-c="close" let-d="dismiss" class="modal-xl">
    <div class="modal-header">
        <h6 class="modal-title">Pitch Complete</h6>
    </div>
    <div class="card-body padding-1rem" style="padding: 10px;">
        <div class="row mb-3">
            <div class="col-md-12  mb-3">
                <div class="form-group text-start">
                    <label class="mb-2"> Feedback <span class="text-danger">*</span></label>
                    <textarea rows="5" required matInput [(ngModel)]="updatewithdocmodel.Comments" class="form-control" placeholder="Comment"></textarea>
                </div>
            </div>
            <div class="col-md-12  mb-3">
                <div class="form-group text-start">
                    <label class="mb-2"> Upload Documents <span class="text-danger">*</span></label>
                    <input type="file" (change)="onFileSelectedCommon($event,'Pitch Complete')" #fileInput style="width: -webkit-fill-available;" class="select-file-btn">
                </div>
            </div>
            <div class="col-md-12  mb-3">
                <div class="row">
                    <div class="col-md-5 mb-2" *ngFor="let item of documentList; let i = index">
                        <div class="upload-container">
                            <div class="upload-section">
                                <h3 class="section-title">Pitch Document <span class="required">*</span></h3>
                                <div class="upload-area" data-type="accident">
                                    <div class="upload-icon">
                                        <a href="javascript:void(0);" (click)="RemoveFile(i)">Remove File</a>
                                        <svg width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5">
                                            <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z" />
                                            <polyline points="14,2 14,8 20,8" />
                                            <line x1="16" y1="13" x2="8" y2="13" />
                                            <line x1="16" y1="17" x2="8" y2="17" />
                                            <polyline points="10,9 9,9 8,9" />
                                        </svg>
                                    </div>
                                    <p class="support-text">Only Support</p>
                                    <p class="file-types">.jpg / .png .PDF</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-12">
                <button class="btn ripple btn-primary btn-block" (click)="PitchComplete()">Submit
                    <span *ngIf="showLoader" role="status" aria-hidden="true" class="spinner-border spinner-border-sm align-middle"></span>
                </button>
                <button class="btn btn-white" style="margin-left: 5px;" (click)="c('Close click')">Cancel</button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #modalSendProposalPopUp let-c="close" let-d="dismiss" class="modal-xl">
    <div class="modal-header">
        <h6 class="modal-title">Send Proposal</h6>
    </div>
    <div class="card-body padding-1rem" style="padding: 10px;">
        <div class="row mb-3">

            <div class="col-md-12  mb-3">
                <div class="form-group text-start">
                    <div class="form-group text-start">
                        <label class="mb-2"> Feedback <span class="text-danger">*</span></label>

                        <textarea rows="5" name="" id="" required #methodEndInput="ngModel" matInput
                            [(ngModel)]="sendProposalModel.Comments" class="form-control" placeholder="Comment">

                        </textarea>
                    </div>
                </div>
            </div>

            <div class="col-md-12  mb-3">
                <div class="form-group text-start">
                    <div class="form-group text-start">
                        <label class="mb-2"> Upload Documents <span class="text-danger">*</span></label>

                        <input type="file" (change)="onFileSelectedCommon($event,'Proposal Document')" #fileInput
                            style="width: -webkit-fill-available;" class="select-file-btn">

                    </div>
                </div>
            </div>

            <div class="col-md-12  mb-3">

                <div class="">

                    <div class="row">




                        <div class="col-md-5 mb-2" *ngFor="let item of documentList; let i = index">

                            <div class="upload-container">
                                <div class="upload-section">
                                    <h3 class="section-title">Send Proposal <span class="required">*</span></h3>
                                    <div class="upload-area" data-type="accident">
                                        <div class="upload-icon">
                                           
                                            <svg width="48" height="48" viewBox="0 0 24 24" fill="none"
                                                stroke="currentColor" stroke-width="1.5">
                                                <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z" />
                                                <polyline points="14,2 14,8 20,8" />
                                                <line x1="16" y1="13" x2="8" y2="13" />
                                                <line x1="16" y1="17" x2="8" y2="17" />
                                                <polyline points="10,9 9,9 8,9" />
                                            </svg>
                                        </div>
                                        <p class="support-text">Only Support</p>
                                        <p class="file-types">.jpg / .png .PDF</p>
                                    </div>
                                </div>

                            </div>

                        </div>


                    </div>

                </div>

            </div>

        </div>

    </div>


    <div class="modal-footer">
        <div class="row">
            <div class="col-md-12">
                <button class="btn ripple btn-primary btn-block" (click)="SendProposal()">Submit
                    <span *ngIf="showLoader" role="status" aria-hidden="true"
                        class="spinner-border spinner-border-sm align-middle"></span>
                </button>
                <button class="btn btn-white" style="margin-left: 5px;" (click)="c('Close click')">Cancel</button>
            </div>
        </div>
    </div>
</ng-template>




<ng-template #modalRejectProposalModelPopUp let-c="close" let-d="dismiss" class="modal-xl">
    <div class="modal-header">
        <h6 class="modal-title">Reject Proposal</h6>
    </div>
    <div class="card-body padding-1rem" style="padding: 10px;">
        <div class="row mb-3">
            <div class="col-md-12  mb-3">
                <div class="form-group text-start">
                    <div class="form-group text-start">
                        <label class="mb-2"> Comment <span class="text-danger">*</span></label>

                        <textarea rows="5" name="" id="" required #methodEndInput="ngModel" matInput
                            [(ngModel)]="rejectProposalModel.Comments" class="form-control" placeholder="Comment">

          </textarea>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal-footer">
        <div class="row">
            <div class="col-md-12">
                <button class="btn ripple btn-primary btn-block" (click)="RejectProposal()">Submit
                    <span *ngIf="showLoader" role="status" aria-hidden="true"
                        class="spinner-border spinner-border-sm align-middle"></span>
                </button>
                <button class="btn btn-white" style="margin-left: 5px;" (click)="c('Close click')">Cancel</button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #modalSendContractPopUp let-c="close" let-d="dismiss" class="modal-xl">
    <div class="modal-header">
        <h6 class="modal-title">Send Contract</h6>
    </div>
    <div class="card-body padding-1rem" style="padding: 10px;">
        <div class="row mb-3">

            <div class="col-md-12  mb-3">
                <div class="form-group text-start">
                    <div class="form-group text-start">
                        <label class="mb-2"> Comment <span class="text-danger">*</span></label>

                        <textarea rows="5" name="" id="" required #methodEndInput="ngModel" matInput
                            [(ngModel)]="updatewithdocmodel.Comments" class="form-control" placeholder="Comment">

                        </textarea>
                    </div>
                </div>
            </div>

            <div class="col-md-12  mb-3">
                <div class="form-group text-start">
                    <div class="form-group text-start">
                        <label class="mb-2"> Upload Documents <span class="text-danger">*</span></label>

                        <input type="file" (change)="onFileSelectedCommon($event,'Contract Document')" #fileInput
                            style="width: -webkit-fill-available;" class="select-file-btn">

                    </div>
                </div>
            </div>

            <div class="col-md-12  mb-3">

                <div class="">

                    <div class="row">




                        <div class="col-md-5 mb-2" *ngFor="let item of documentList; let i = index">

                            <div class="upload-container">
                                <div class="upload-section">
                                    <h3 class="section-title">Send Contract <span class="required">*</span></h3>
                                    <div class="upload-area" data-type="accident">
                                        <div class="upload-icon">
                                           
                                            <svg width="48" height="48" viewBox="0 0 24 24" fill="none"
                                                stroke="currentColor" stroke-width="1.5">
                                                <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z" />
                                                <polyline points="14,2 14,8 20,8" />
                                                <line x1="16" y1="13" x2="8" y2="13" />
                                                <line x1="16" y1="17" x2="8" y2="17" />
                                                <polyline points="10,9 9,9 8,9" />
                                            </svg>
                                        </div>
                                        <p class="support-text">Only Support</p>
                                        <p class="file-types">.jpg / .png .PDF</p>
                                    </div>
                                </div>

                            </div>

                        </div>


                    </div>

                </div>

            </div>

        </div>

    </div>


    <div class="modal-footer">
        <div class="row">
            <div class="col-md-12">
                <button class="btn ripple btn-primary btn-block" (click)="SendContract()">Submit
                    <span *ngIf="showLoader" role="status" aria-hidden="true"
                        class="spinner-border spinner-border-sm align-middle"></span>
                </button>
                <button class="btn btn-white" style="margin-left: 5px;" (click)="c('Close click')">Cancel</button>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #modalSignedContractPopUp let-c="close" let-d="dismiss" class="modal-xl">
    <div class="modal-header">
        <h6 class="modal-title">Submit Signed Contract</h6>
    </div>
    <div class="card-body padding-1rem" style="padding: 10px;">
        <div class="row mb-3">

            <div class="col-md-12  mb-3">
                <div class="form-group text-start">
                    <div class="form-group text-start">
                        <label class="mb-2"> Comment <span class="text-danger">*</span></label>

                        <textarea rows="5" name="" id="" required #methodEndInput="ngModel" matInput
                            [(ngModel)]="updatewithdocmodel.Comments" class="form-control" placeholder="Comment">

                        </textarea>
                    </div>
                </div>
            </div>

            <div class="col-md-12  mb-3">
                <div class="form-group text-start">
                    <div class="form-group text-start">
                        <label class="mb-2"> Upload Documents <span class="text-danger">*</span></label>

                        <input type="file" (change)="onFileSelectedCommon($event,'Contract Document')" #fileInput
                            style="width: -webkit-fill-available;" class="select-file-btn">

                    </div>
                </div>
            </div>

            <div class="col-md-12  mb-3">

                <div class="">

                    <div class="row">




                        <div class="col-md-5 mb-2" *ngFor="let item of documentList; let i = index">

                            <div class="upload-container">
                                <div class="upload-section">
                                    <h3 class="section-title">Submit  Contract <span class="required">*</span></h3>
                                    <div class="upload-area" data-type="accident">
                                        <div class="upload-icon">
                                           
                                            <svg width="48" height="48" viewBox="0 0 24 24" fill="none"
                                                stroke="currentColor" stroke-width="1.5">
                                                <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z" />
                                                <polyline points="14,2 14,8 20,8" />
                                                <line x1="16" y1="13" x2="8" y2="13" />
                                                <line x1="16" y1="17" x2="8" y2="17" />
                                                <polyline points="10,9 9,9 8,9" />
                                            </svg>
                                        </div>
                                        <p class="support-text">Only Support</p>
                                        <p class="file-types">.jpg / .png .PDF</p>
                                    </div>
                                </div>

                            </div>

                        </div>


                    </div>

                </div>

            </div>

        </div>

    </div>


    <div class="modal-footer">
        <div class="row">
            <div class="col-md-12">
                <button class="btn ripple btn-primary btn-block" (click)="SignedContract()">Submit Signed contract
                    <span *ngIf="showLoader" role="status" aria-hidden="true"
                        class="spinner-border spinner-border-sm align-middle"></span>
                </button>
                <button class="btn btn-white" style="margin-left: 5px;" (click)="c('Close click')">Cancel</button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #modalFullDocsUploadPopUp let-c="close" let-d="dismiss" class="modal-xl">
    <div class="modal-header">
        <h6 class="modal-title">Submit Full Documents</h6>
    </div>
    <div class="card-body padding-1rem" style="padding: 10px;">
        <div class="row mb-3">

            <div class="col-md-12  mb-3">
                <div class="form-group text-start">
                    <div class="form-group text-start">
                        <label class="mb-2"> Comment <span class="text-danger">*</span></label>

                        <textarea rows="5" name="" id="" required #methodEndInput="ngModel" matInput
                            [(ngModel)]="updatewithdocmodel.Comments" class="form-control" placeholder="Comment">

                        </textarea>
                    </div>
                </div>
            </div>

            <div class="col-md-12  mb-3">
                <div class="form-group text-start">
                    <div class="form-group text-start">
                        <label class="mb-2"> Upload Documents <span class="text-danger">*</span></label>

                        <input type="file" (change)="onFileSelectedCommon($event,'Contract Document')" #fileInput
                            style="width: -webkit-fill-available;" class="select-file-btn">

                    </div>
                </div>
            </div>

            <div class="col-md-12  mb-3">

                <div class="">

                    <div class="row">




                        <div class="col-md-5 mb-2" *ngFor="let item of documentList; let i = index">

                            <div class="upload-container">
                                <div class="upload-section">
                                    <h3 class="section-title">Submit <span class="required">*</span></h3>
                                    <div class="upload-area" data-type="accident">
                                        <div class="upload-icon">
                                           
                                            <svg width="48" height="48" viewBox="0 0 24 24" fill="none"
                                                stroke="currentColor" stroke-width="1.5">
                                                <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z" />
                                                <polyline points="14,2 14,8 20,8" />
                                                <line x1="16" y1="13" x2="8" y2="13" />
                                                <line x1="16" y1="17" x2="8" y2="17" />
                                                <polyline points="10,9 9,9 8,9" />
                                            </svg>
                                        </div>
                                        <p class="support-text">Only Support</p>
                                        <p class="file-types">.jpg / .png .PDF</p>
                                    </div>
                                </div>

                            </div>

                        </div>


                    </div>

                </div>

            </div>

        </div>

    </div>


    <div class="modal-footer">
        <div class="row">
            <div class="col-md-12">
                <button class="btn ripple btn-primary btn-block" (click)="FullDocumentUpload()">Submit Documents                    <span *ngIf="showLoader" role="status" aria-hidden="true"
                        class="spinner-border spinner-border-sm align-middle"></span>
                </button>
                <button class="btn btn-white" style="margin-left: 5px;" (click)="c('Close click')">Cancel</button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #modalPaymentDocsUploadPopUp let-c="close" let-d="dismiss" class="modal-xl">
    <div class="modal-header">
        <h6 class="modal-title">Submit Payment  Documents</h6>
    </div>
    <div class="card-body padding-1rem" style="padding: 10px;">
        <div class="row mb-3">

            <div class="col-md-12  mb-3">
                <div class="form-group text-start">
                    <div class="form-group text-start">
                        <label class="mb-2"> Comment <span class="text-danger">*</span></label>

                        <textarea rows="5" name="" id="" required #methodEndInput="ngModel" matInput
                            [(ngModel)]="updatewithdocmodel.Comments" class="form-control" placeholder="Comment">

                        </textarea>
                    </div>
                </div>
            </div>

            <div class="col-md-12  mb-3">
                <div class="form-group text-start">
                    <div class="form-group text-start">
                        <label class="mb-2"> Upload Payment Documents <span class="text-danger">*</span></label>

                        <input type="file" (change)="onFileSelectedCommon($event,'Contract Document')" #fileInput
                            style="width: -webkit-fill-available;" class="select-file-btn">

                    </div>
                </div>
            </div>

            <div class="col-md-12  mb-3">

                <div class="">

                    <div class="row">




                        <div class="col-md-5 mb-2" *ngFor="let item of documentList; let i = index">

                            <div class="upload-container">
                                <div class="upload-section">
                                    <h3 class="section-title">Submit <span class="required">*</span></h3>
                                    <div class="upload-area" data-type="accident">
                                        <div class="upload-icon">
                                           
                                            <svg width="48" height="48" viewBox="0 0 24 24" fill="none"
                                                stroke="currentColor" stroke-width="1.5">
                                                <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z" />
                                                <polyline points="14,2 14,8 20,8" />
                                                <line x1="16" y1="13" x2="8" y2="13" />
                                                <line x1="16" y1="17" x2="8" y2="17" />
                                                <polyline points="10,9 9,9 8,9" />
                                            </svg>
                                        </div>
                                        <p class="support-text">Only Support</p>
                                        <p class="file-types">.jpg / .png .PDF</p>
                                    </div>
                                </div>

                            </div>

                        </div>


                    </div>

                </div>

            </div>

        </div>

    </div>


    <div class="modal-footer">
        <div class="row">
            <div class="col-md-12">
                <button class="btn ripple btn-primary btn-block" (click)="PaymentDone()">Submit Payment Documents                    <span *ngIf="showLoader" role="status" aria-hidden="true"
                        class="spinner-border spinner-border-sm align-middle"></span>
                </button>
                <button class="btn btn-white" style="margin-left: 5px;" (click)="c('Close click')">Cancel</button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #serviceActiveModelPopUp let-c="close" let-d="dismiss" class="modal-xl">
    <div class="modal-header">
        <h6 class="modal-title">Service Active l</h6>
    </div>
    <div class="card-body padding-1rem" style="padding: 10px;">
        <div class="row mb-3">
            <div class="col-md-12  mb-3">
                <div class="form-group text-start">
                    <div class="form-group text-start">
                        <label class="mb-2"> Comment <span class="text-danger">*</span></label>

                        <textarea rows="5" name="" id="" required #methodEndInput="ngModel" matInput
                            [(ngModel)]="updatemodel.Comments" class="form-control" placeholder="Comment">

          </textarea>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal-footer">
        <div class="row">
            <div class="col-md-12">
                <button class="btn ripple btn-primary btn-block" (click)="serviceActive()">Submit
                    <span *ngIf="showLoader" role="status" aria-hidden="true"
                        class="spinner-border spinner-border-sm align-middle"></span>
                </button>
                <button class="btn btn-white" style="margin-left: 5px;" (click)="c('Close click')">Cancel</button>
            </div>
        </div>
    </div>
</ng-template>