<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Concept &mdash;</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Free HTML5 Website Template by gettemplates.co" />
  <meta name="keywords"
    content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
  <meta name="author" content="gettemplates.co" />

  <!-- Facebook and Twitter integration -->
  <meta property="og:title" content="" />
  <meta property="og:image" content="" />
  <meta property="og:url" content="" />
  <meta property="og:site_name" content="" />
  <meta property="og:description" content="" />
  <meta name="twitter:title" content="" />
  <meta name="twitter:image" content="" />
  <meta name="twitter:url" content="" />
  <meta name="twitter:card" content="" />

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" />

  <!-- Animate.css -->
  <link rel="stylesheet" href="../../../authentication/home-customer1/assets/staticwebsite/css/animate.css" />
  <!-- Icomoon Icon Fonts-->
  <link rel="stylesheet" href="../../../authentication/home-customer1/assets/staticwebsite/css/icomoon.css" />
  <!-- Bootstrap  -->
  <link rel="stylesheet" href="../../../authentication/home-customer1/assets/staticwebsite/css/bootstrap.css" />

  <!-- Magnific Popup -->
  <link rel="stylesheet" href="../../../authentication/home-customer1/assets/staticwebsite/css/magnific-popup.css" />

  <!-- Theme style  -->
  <link rel="stylesheet" href="../../../authentication/home-customer1/assets/staticwebsite/css/style.css" />

  <!-- Modernizr JS -->
  <script src="./assets/js/modernizr-2.6.2.min.js"></script>
  <script src="../../../authentication/home-customer1/assets/staticwebsite/js/modernizr-2.6.2.min.js"></script>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
  </style>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">

  <!-- <script src="../../../../public/assets/images/brand-logos/desktop-dark.png"></script> -->
  <!-- FOR IE9 below -->
  <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
  <![endif]-->
</head>

<header [class.scrolled]="isScrolled">
  <nav class="fh5co-nav" role="navigation">
    <div class="container">
      <!-- <div class="row">
        <div class="col-xs-10 col-md-2 text-left align-self-center">
          <div id="fh5co-logo">
            <a href="/">NMO HUB<span>.</span></a>
          </div>
        </div>

        <div class="col-xs-2 d-md-none text-right">
          <a
            href="javascript:void(0);"
            class="fh5co-nav-toggle"
            [class.active]="isMenuOpen"
            (click)="toggleMenu()"
          >
            <i></i>
          </a>
        </div>
        <div
          class="menu-overlay"
          *ngIf="isMenuOpen"
          (click)="toggleMenu()"
        ></div>

        <div
          class="col-md-10 text-md-right menu-wrapper"
          [class.open]="isMenuOpen"
        >
          <ul>
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/faq">Faq</a></li>
            <li><a href="/alumni">Alumni</a></li>
            <li><a href="/news">News</a></li>
            <li class="has-dropdown">
              <a href="#">Services</a>
              <ul class="dropdown">
                <li><a href="/programs">Programs</a></li>
                <li><a href="/co-working-spaces">Co-Working</a></li>
              </ul>
            </li>
            <li><a href="/customer-project">Register Project</a></li>
            <li *ngIf="_userInfo == null"><a href="/auth/login">Login</a></li>
            <li *ngIf="_userInfo != null">
              <a href="javascript:void(0);">Hi, {{ _userInfo.firstNames }}</a>
            </li>
            <li *ngIf="_userInfo != null" (click)="Logout()">
              <a href="javascript:void(0);">Log Out</a>
            </li>
            <li>
              <button (click)="toggleLanguage()" class="btn btn-primary mb-3">
                {{
                  currentLang === "en-us"
                    ? "Switch to Arabic"
                    : "Switch to English"
                }}
              </button>
            </li>
          </ul>
        </div>
      </div> -->
      <div class="row">
        <div class="col-xs-10 col-md-2 text-left align-self-center">
          <div id="fh5co-logo">
            <div id="fh5co-logo">
              <a routerLink="/">
                <img [src]="isScrolled ? 'assets/Logo/nmohub-logo-original.png' : 'assets/Logo/nmohub-logo.png'"
                  alt="Logo" width="150" height="50" />
              </a>
            </div>

          </div>
        </div>

        <!-- Burger Menu Button -->
        <div class="col-xs-2 d-md-none text-right">
          <a href="javascript:void(0);" class="fh5co-nav-toggle" [class.active]="isMenuOpen" (click)="toggleMenu()">
            <i></i>
          </a>
        </div>
        <div class="menu-overlay" *ngIf="isMenuOpen" (click)="toggleMenu()"></div>

        <!-- Menu -->
        <div class="col-md-10 text-lg-right menu-wrapper" [class.open]="isMenuOpen">
          <ul>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <a routerLink="/">{{ "HEADER.HOME" | translate }}</a>
            </li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <a routerLink="/about">{{ "HEADER.ABOUT" | translate }}</a>
            </li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <a routerLink="/contact">{{ "HEADER.CONTACT" | translate }}</a>
            </li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <a routerLink="/faq">{{ "HEADER.FAQ" | translate }}</a>
            </li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <a routerLink="/alumni">{{ "HEADER.ALUMNI" | translate }}</a>
            </li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <a routerLink="/news">{{ "HEADER.NEWS" | translate }}</a>
            </li>

            <!-- Services Dropdown -->
            <li class="has-dropdown" routerLinkActive="active">
              <a href="javascript:void(0);">{{
                "HEADER.SERVICES" | translate
                }}</a>
              <ul class="dropdown">
                <li routerLinkActive="active">
                  <a routerLink="/services">{{
                    "HEADER.PROGRAMS" | translate
                    }}</a>
                </li>
                <li routerLinkActive="active">
                  <a href="/co-working-spaces">{{
                    "HEADER.COWORKING" | translate
                    }}</a>
                </li>
                <li routerLinkActive="active">
                  <a href="/experts">
                    Join Expert
                  </a>
                </li>
                <li routerLinkActive="active">
                  <a href="/expert-features">
                    Experts Features
                  </a>
                </li>
              </ul>
            </li>

            <!-- <li>
              <a routerLink="/customer-project">{{
                "HEADER.REGISTER_PROJECT" | translate
              }}</a>
            </li> -->

            <li *ngIf="_userInfo == null">
              <a routerLink="/auth/login">{{ "HEADER.LOGIN" | translate }}</a>
            </li>
            <li *ngIf="_userInfo != null">
              <a href="javascript:void(0);">
                {{
                "HEADER.GREETING"
                | translate
                : {
                name:
                _userInfo.firstNames.length > 4
                ? (_userInfo.firstNames | slice : 0 : 4) + ".."
                : _userInfo.firstNames
                }
                }}
              </a>
            </li>
            <li *ngIf="_userInfo != null">
              <a routerLink="/main-dashboard"> Portal </a>
            </li>
            <li *ngIf="_userInfo != null" (click)="Logout()">
              <a href="javascript:void(0);">{{
                "HEADER.LOGOUT" | translate
                }}</a>
            </li>

            <li>
              <button (click)="toggleLanguage()" class="btn en-ar-btn mb-3">
                {{
                currentLang === "en-us"
                ? ("HEADER.SWITCH_TO_AR" | translate)
                : ("HEADER.SWITCH_TO_EN" | translate)
                }}
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>