<div
  class="my-4 page-header-breadcrumb single-page-header d-flex align-items-center justify-content-between flex-wrap gap-2">
  <div>
    <button class="btn btn-primary-light btn-wave me-2 waves-effect waves-light" id="btnNavigateBack"
      [routerLink]="['../admin']">
      <i class="bi bi-arrow-left-circle align-middle"></i> Back
    </button>
  </div>
</div>

<div class="row my-4" id="div">
  <div class="col-xl-12">
    <div class="card custom-card">
      <div class="card-header justify-content-between">
        <div class="card-title">
          Closed Office
          <span role="status" aria-hidden="true" class="spinner-border spinner-border-sm align-middle"
            *ngIf="showLoader"></span>
        </div>
      </div>

      <div class="card-body p-0">
        <div class="table-responsive">
          <table class="table text-nowrap">
            <thead>
              <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Office Sizes</th>
                <th>Access Model</th>
                <!--<th>Daily Hours</th>
                <th>Features</th>
                <th>Description</th> -->
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of closedOfficeList">
                <td>{{ item.closeOfficeName }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.officeSizes }}</td>
                <td>{{ item.accessModel }}</td>
                <!-- <td>{{ item.dailyHours }}</td>
                <td>{{ item.features }}</td>
                <td>{{ item.description }}</td> -->
                <td>
                  <span [class]="
                      item.status ? 'badge bg-danger' : 'badge bg-success'
                    ">
                    {{ item.status ? "Booked" : "Available" }}
                  </span>
                </td>
                <td>
                  <a href="javascript:void(0);" (click)="editClosedOffice(item)">Edit</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="card-footer"></div>
    </div>
  </div>
</div>

<!-- Modal -->
<ng-template #modalClosedOffice let-c="close" let-d="dismiss">
  <div id="div">
    <div class="modal-header">
      <h6 class="modal-title">Update Closed Office</h6>
    </div>

    <div class="modal-body">
      <div class="row mb-2">
        <div class="col-md-6">
          <label>Name</label>
          <input [(ngModel)]="selectedClosedOffice.closeOfficeName" class="form-control" />
        </div>
        <div class="col-md-6">
          <label>Price</label>
          <input [(ngModel)]="selectedClosedOffice.price" type="number" class="form-control" />
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-md-6">
          <label>Office Sizes </label>
          <input [(ngModel)]="selectedClosedOffice.officeSizes" type="number" class="form-control" />
        </div>
        <div class="col-md-6">
          <label>Access Model </label>
          <select class="form-control" [(ngModel)]="selectedClosedOffice.accessModel" required>
            <option value="Private + 24/7" style="color: black;"> Private + 24/7 </option>
          </select>
        </div>
      </div>

      <div class="row mb-2">
        <!-- <div class="col-md-6">
        <label>Daily Hours</label>
        <input
          [(ngModel)]="selectedClosedOffice.dailyHours"
          type="number"
          class="form-control"
        />
      </div> -->

        <div class="col-md-6">
          <label>Status</label>
          <div class="form-check">
            <input type="radio" class="form-check-input" id="statusBooked" [(ngModel)]="selectedClosedOffice.status"
              [value]="true" name="status" />
            <label class="form-check-label" for="statusBooked">Booked</label>
          </div>

          <div class="form-check">
            <input type="radio" class="form-check-input" id="statusAvailable" [(ngModel)]="selectedClosedOffice.status"
              [value]="false" name="status" />
            <label class="form-check-label" for="statusAvailable">Available</label>
          </div>
        </div>
      </div>

      <!-- <div class="row mb-2">
      <div class="col-md-6">
        <label>Features</label>
        <textarea
          [(ngModel)]="selectedClosedOffice.features"
          class="form-control"
        ></textarea>
      </div>
      <div class="col-md-6">
        <label>Description</label>
        <textarea
          [(ngModel)]="selectedClosedOffice.description"
          class="form-control"
        ></textarea>
      </div>
    </div> -->
    </div>

    <div class="modal-footer">
      <button class="btn" (click)="updateClosedOffice()">
        Update
      </button>
      <button class="btn btn-danger" (click)="c('Close click')">Cancel</button>
    </div>
  </div>
</ng-template>